@using OrdersGeneral.Repository.General
@model OrdersGeneral.ViewModels.General.VMTransfer.VMTransferManagement
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @{
                        if (Model != null)
                        {
                           
                                using (Html.BeginForm("EditRow", "TransferManagement", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="box-header">
                                        <i class="fa fa-envelope"></i>
                                        <h3 class="box-title">افزودن باربری</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input class="form-control" id="Id" name="Id" type="hidden" value="@Model.Id" />
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="PrimaryTitle">عنوان اول</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اول" type="text" value="@Model.PrimaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="SecondaryTitle">عنوان دوم</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="عنوان دوم" type="text" value="@Model.SecondaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="TransferPay"> باربری </label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="TransferPay" name="TransferPay" placeholder="باربری" type="number" value="@Model.TransferPay" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2">استان</label>
                                                <div class="col-md-4">
                                                    <select class="form-control " id="CityRef" name="CityRef">
                                                        @{

                                                            var city = RepTransfer.SelectionCity();

                                                            foreach (var item in city)
                                                            {

                                                                if (item.CityRef == Model.CityRef)
                                                                {
                                                                    <option value="@item.CityRef" selected="selected">@item.CityTitle</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.CityRef">@item.CityTitle</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Weight">وزن </label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Weight" name="Weight" placeholder="وزن" type="text" value="@Model.Weight" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="Fee">قیمت بر وزن</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Fee" name="Fee" placeholder="قیمت بر وزن" type="text" value="@Model.Fee" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            <button type="submit" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</button>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    



                </div>


            </div>
        </div>
    </div>
</section>

