@using OrdersGeneral.Repository.General
@using OrdersOrders.Repository.Orders

<link href="~/Helper/Layouts/vendor/fontawesome-5.6.3/css/all.min.css" rel="stylesheet" />
@{
    var id = Guid.Parse(User.Identity.Name);
    var RoleName = RepAccountDashboard.RoleName(id);
    <!DOCTYPE html>

    <html>
    <head>
        @Html.Partial("head/admin/P_AdminLayout_Head")

    </head>
    <body class="hold-transition skin-admin sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                @Html.Partial("head/admin/P_AdminLayout_Header")

            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-right image">
                            <a class="image" data-toggle="modal" href="/Login/SingOut">
                                <img src="https://www.gravatar.com/avatar/fa64db38864b2ab434311e20b548b955?s=100" class="img-circle" alt="مدیریت سایت" />
                            </a>
                        </div>
                        <div class="pull-left info">
                            @{

                                var name = RepAccountDashboard.IsAdmin(id);
                                var splitrole = name[0];
                                var splitname = name[1];
                                var time = DateTime.Now;

                            }
                            <p> @splitname</p>
                            <small>نقش: @RoleName</small>
                            <br />

                        </div>
                        <div class="clearfix"></div>
                        <a href="/" class="btn btn-social bg-orange btn-block btn-labeled" data-toggle="modal" href="#">
                            <i class="fa fa-home"></i>
                            <span>مشاهده سایت</span>
                        </a>
                        <div class="clearfix"></div>
                        <hr />
                    </div>
                    <ul class="sidebar-menu">
                        <li>
                        </li>

                        @{
                            try
                            {
                                //var resultcategory = RepMenuAdmin.RepAdminMenuManagements();
                                var resultcategory = RepMenuAdmin.RepAdminMenuCategoreis();
                                if (resultcategory.Count > 0)
                                {
                                    foreach (var item in resultcategory)
                                    {
                                        <li class="header">@item.PrimaryTitle</li>
                                        var resultMenu = RepMenuAdmin.RepAccessClients(id, item.Id);
                                        if (resultMenu.Count > 0)
                                        {

                                            foreach (var vmMenuAccessClient in resultMenu)
                                            {


                                                <li class="treeview">
                                                    <a href="@vmMenuAccessClient.Url">
                                                        <img src="@vmMenuAccessClient.FileName" width="20" />
                                                        <span>@vmMenuAccessClient.PrimaryTitle</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    }
                                }
                            }
                            catch (Exception e)
                            {
                                Console.WriteLine(e);
                                throw;
                            }


                        }



                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                @RenderBody()
            </div>
            @Html.Partial("footer/admin/P_AdminLayout_Footer")
            <div class="control-sidebar-bg"></div>
        </div>

    @if (TempData["JavaScriptFunction"] != null)
    {
        <script>
                    @Html.Raw(TempData["JavaScriptFunction"])
            </script>
    }
        <script src="/Helper/Admin/Scripts/jquery.min.js"></script>
        <script src="/Helper/Admin/Scripts/ckeditor.js"></script>
        <script src="/Helper/Admin/Scripts/bootstrap.rtl.min.js"></script>
        <script src="/Helper/Admin/Scripts/panel.js"></script>
        <script src="/Helper/Admin/Scripts/iziToast.min.js"></script>
        <script src="/Helper/Admin/Sweetalert2/sweetalert2.min.js"></script>
      

    </body>
</html>



}


