@using OrdersGeneral.Repository.General
@using OrdersOrders.Repository.Orders
@using OrdersSettings.Repository.Settings


<!doctype html>
<html lang="en">



<head>
    @Html.Partial("Body/P_MainLayout_head")
    <link href="~/Helper/Layouts/assets/css/plugins/bottom/styles.css" rel="stylesheet" />
</head>

<body id="body">
    <div class="page-wrapper">
        <!-- Page Header -->
        <header class="page-header">
            <div class="top-page-header">
                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="contact-list">
                            <ul>
                                @{
                                    var phone = Repfooter.RepInformationFooter();
                                    if (phone.Count > 0)
                                    {
                                        foreach (var item in phone)
                                        {
                                            <li>پشتیبانی فروشگاه اینترنتی</li>
                                            <li>
                                                <i class='bx bx-phone-call'></i>
                                                <a href="tel: @item.Phone">@item.Phone</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <div class="top-header-menu">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    var id = User.Identity.Name;
                                    var name = RepAccountDashboard.IsAdmin(Guid.Parse(id));
                                    var splitrole = name[0];
                                    var splitname = name[1];
                                    var url = "/Dashboard";

                                    if (splitrole == "admin")
                                    {
                                        url = "/AdminDashboard";
                                    }
                                    <ul>
                                        <li>
                                            @splitname
                                        </li>

                                        <li>
                                            <a href="@url" class="dropdown--btn-primary">داشبورد</a>
                                        </li>
                                        <li>
                                            <a href="/Login/SingOut">
                                                خروج
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                @Html.Partial("Body/P_MainLayout_header")
                @Html.Partial("Body/P_MainLayout_Header_MainMenu")
            </div>
        </header>
        <!-- header responsive -->
        @Html.Partial("Body/P_MainLayout_Header_Mobile")
        <!-- end header responsive -->
        <!-- end Page Header -->
        <!-- Page Content -->
        <main class="page-content">
            <div class="container">
                @RenderBody()

            </div>
        </main>
        <!-- Page Loader -->
        <div class="page-loader">
            <div class="page-loader-content">
                <div class="logo-area">
                    @{
                        var logo = Repfooter.RepInformationFooter();
                        if (logo.Count > 0)
                        {
                            foreach (var item in logo)
                            {

                                <img src="@item.FileName" alt="@item.PrimaryTitle" />

                            }
                        }
                    }
                </div>
                <span class="loader"></span>
            </div>
        </div>
        <!-- end Page Loader -->

        <footer class="main-footer">
            <div class="back-to-top">
                <div class="back-btn">
                    <i class="far fa-chevron-up icon"></i>
                    <span>برگشت به بالا</span>
                </div>
            </div>
            <div class="container">
                @Html.Partial("Body/P_Services")
                @Html.Partial("Body/P_MainLayout_Footer")
                @Html.Partial("Body/P_CopyRight_Footer")
            </div>
            @Html.Partial("Footer/P_Whatsapp")
            @Html.Partial("Footer/P_RayChat")
        </footer>
        <!-- end Page Footer -->

    </div>
    @Html.Partial("Body/P_MainLayout_Mobile_Menu")

    <!-- JS Global Compulsory -->
    @Html.Partial("Body/P_MainLayout_Script")

    <div class="nav__menu" id="nav-menu" dir="rtl">
        <ul class="nav__list">
            @{
                var menumobile = RepMenu.RepositoryMainMenu();
                if (menumobile.Count > 0)
                {
                    foreach (var item in menumobile)
                    {
   


                        <li class="nav__item">
                            <a href="@item.Url" class="nav__link ">
                                <i class=' @item.SecondryTitle nav__icon'></i>
                                <span class="nav__name">                          @item.PrimaryTitle</span>
                            </a>
                        </li>
                    }
                }


            }


        </ul>
    </div>
    <script src="~/Helper/Layouts/assets/js/plugins/bottom/main.js"></script>
</body>



</html>
