@using OrdersInventory.Repository.Inventory

@model OrdersInventory.ViewModels.Inventory.VMProduct.VmMainProductMangement
@{
    ViewBag.Title = "ویرایش رنگ و سایز";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">

                    @{
                        if (Model != null)
                        {
                            var rep = new RepProducts();

                            using (Html.BeginForm("EditColorSizeList", "ProductManagment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="box-header">
                                    <i class="fa fa-envelope"></i>
                                    <h3 class="box-title">ویرایش رنگ و سایز</h3>
                                </div>

                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Code">کد</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" disabled="disabled" id="Code" name="Code" placeholder="کد" type="text" value="@Model.Code" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="Sort">شماره مرتب سازی</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="number" value="@Model.Sort" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="ColorRef">رنگ</label>
                                                <div class="col-md-4">
                                                    <select class="form-control " id="ColorRef" name="ColorRef">
                                                        @{
                                                            var color = rep.RepositoryColorManagmentDropDown();
                                                            if (color.Count > 0)
                                                            {

                                                                foreach (var colors in color)
                                                                {
                                                                    if (colors.Id == Model.ColorRef)
                                                                    {
                                                                        <option value="@colors.Id" selected="selected">@colors.PrimaryTitle</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@colors.Id">@colors.PrimaryTitle</option>
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="SizeRef">سایز</label>
                                                <div class="col-md-4">
                                                    <select class="form-control " id="SizeRef" name="SizeRef">
                                                        @{
                                                            var size = rep.RepositorySizeManagmentDropDown();
                                                            if (size.Count > 0)
                                                            {
                                                                foreach (var sizes in size)
                                                                {
                                                                    if (sizes.Id == Model.SizeRef)
                                                                    {
                                                                        <option value="@sizes.Id" selected="selected">@sizes.SizeTitle</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@sizes.Id">@sizes.SizeTitle</option>
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Fee">قیمت</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Fee" name="Fee" placeholder="قیمت" type="text" value="@Model.Fee" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="Quantity">تعداد</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Quantity" name="Quantity" placeholder="تعداد" type="text" value="@Model.Quantity" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            @{

                                                if (Session["ProductId"] != null)
                                                {
                                                    <a href="/ProductManagment/ColorSize/@Session["ProductId"].ToString()" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                                }
                                                else
                                                {
                                                    <a href="/ProductManagment" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>

                                                }


                                            }
                                        </div>
                                    </div>
                                }
                            }

                        }

                </div>
            </div>


        </div>
    </div>
</section>

