@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.ProductProperty>


@using OrdersInventory.Repository.Inventory

@{
    ViewBag.Title = "ویژگی ها";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">ویژگی ها</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                        <a href="/ProductManagment/PropertyAdd" class="btn btn-success" style="width: 80%"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                        <a href="/ProductManagment" class="btn btn-danger " style="width: 19%"> بازگشت &nbsp;<i class="fa fa-close"></i></a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">



                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>

                                            <input class="ckbox" type="checkbox" value="">
                                        </th>

                                        <th>کلید</th>
                                        <th>مقدار</th>
                                        <th>اصلی</th>
                                        <th>وضعیت</th>
                                   

                                        <th>حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                                        <tr>
                                                                            <td>
                                                                                <input type="checkbox" value="">
                                                                            </td>

                                                                            <td class="col-md-1">
                                                                                @item.Key)
                                                                            </td>
                                                                            <td class="col-md-5">
                                                                                @item.Value
                                                                            </td>
                                                                            <td class="col-md-1">

                                                                                <a href="/ProductManagment/ChangeStatusIsMainProperty/@item.Id" class="@item.IsMainClass">@item.IsMainTitle</a>

                                                                            </td>
                                                                            <td class="col-md-1">

                                                                                <a href="/ProductManagment/ChangeStatusProperty/@item.Id" class="@item.IsOkClass">@item.IsOkTitle</a>

                                                                            </td>

                                                                            <td>
                                                                                <a class="btn btn-danger btn-sm" href="/ProductManagment/DeleteProperty/@item.Id">×</a>
                                                                            </td>
                                                                        </tr>
                                            }
                                        }

                                    }



                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


