
@using OrdersOrders.ViewModels.Orders
@model  OrdersOrders.ViewModels.Orders.VMOrders.VmOrderCarts
@{
    ViewBag.Title = "سبد خرید";

    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}


<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb" class="card mb-0 contact-us box-shadows" style="padding: 10px">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Default">خانه</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="/helper/Layouts/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">@ViewBag.Title </a>
                        @*<svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>*@
                    </li>

                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>سبد خرید</h1>
        </div>
    </div>
</div>
<div class="cart block">

    @{

        if (Model != null)
        {


            <div class="container">
                <table class="cart__table cart-table">
                    <thead class="cart-table__head">
                        <tr class="cart-table__row text-center">
                            <th class="cart-table__column cart-table__column--image">تصویر</th>
                            <th class="cart-table__column cart-table__column--product">کد</th>
                            <th class="cart-table__column cart-table__column--product">محصول</th>
                            <th class="cart-table__column cart-table__column--Color">رنگ</th>
                            <th class="cart-table__column cart-table__column--Size">سایز</th>
                            <th class="cart-table__column cart-table__column--price">قیمت</th>
                            <th class="cart-table__column cart-table__column--quantity">تعداد</th>
                            <th class="cart-table__column cart-table__column--quantity">تخفیف</th>
                            <th class="cart-table__column cart-table__column--total">جمع کل</th>
                            <th class="cart-table__column cart-table__column--remove">عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="cart-table__body">

                        @{
                            if (Model.CartsItems != null)
                            {
                                foreach (var item in Model.CartsItems)
                                {
                                    <tr class="cart-table__row text-center">
                                        <td class="cart-table__column cart-table__column--image">
                                            <a href="@Url.RouteUrl("Product", new { id = item.ProductId })"><img src="@item.FileName" alt="@item.ProductTitle"></a>
                                        </td>
                                        <td class="cart-table__column cart-table__column--product">
                                            <a class="cart-table__product-name">@item.Code</a>
                                        </td>
                                        <td class="cart-table__column cart-table__column--product">
                                            <a href="/Product/Id/@item.ProductId" class="cart-table__product-name">@item.ProductTitle</a>
                                        </td>

                                        <td class="cart-table__column cart-table__column--product">
                                            <a class="cart-table__product-name">@item.ColorTitle</a>
                                        </td>

                                        <td class="cart-table__column cart-table__column--product">
                                            <a class="cart-table__product-name">@item.SizeTitle</a>
                                        </td>

                                        <td class="cart-table__column cart-table__column--product">
                                            <a class="cart-table__product-name">@string.Format("{0:##,###}", item.Fee, "") تومان</a>
                                        </td>

                                        <td class="cart-table__column cart-table__column--quantity" data-title="تعداد">
                                            <div class="input-number">
                                                <input class="form-control input-number__input" disabled="disabled" type="number" min="1" value="@item.Quantity">
                                            </div>
                                        </td>
                                        <td class="cart-table__column cart-table__column--product">
                                            @{
                                                if (@item.Discount > 0)
                                                {
                                                    <a class="cart-table__product-name" id="discountproduct">@string.Format("{0:##,###}", @item.Discount, "Fee") تومان</a>
                                                }
                                                @*else if (Discountt > 0)
                                                    {
                                                        <a class="cart-table__product-name" id="discountproduct">@string.Format("{0:##,###}", Discountt, "Fee") تومان</a>
                                                    }*@
                                                else
                                                {
                                                    <a class="cart-table__product-name" id="discountproduct">0 تومان</a>
                                                }
                                            }

                                        </td>
                                        <td class="cart-table__column cart-table__column--total" data-title="جمع کل">@String.Format(((Math.Round(@item.Price) == item.Price) ? "{0:##,###}" : "{0:##,###}"), item.Price) تومان</td>
                                        <td class="cart-table__column cart-table__column--remove">
                                            <a href="/Orders/DeleteCarts/@item.Code" class="btn btn-light btn-sm btn-svg-icon">
                                                <svg width="12px" height="12px">
                                                    <use xlink:href="/helper/Layouts/images/sprite.svg#cross-12"></use>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }




                        }



                    </tbody>
                </table>
                <div class="cart__actions">
                    @using (Html.BeginForm("Index", "Carts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="cart__coupon-form">
                            <div class="box-body">
                                <div class="form-horizontal">
                                    <div class="form-group form-discount">
                                        <input type="hidden" id="sum" name="sum" value="@Model.Discount" />
                                        <input type="hidden" name="Discount" id="Discount" value="false" />
                                        <input type="text" name="code" class="form-control" id="code" placeholder="کد تخفیف">
                                        <button type="submit" class="btn btn-secondary" id="Discount"> تخفیف</button>



                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="cart__buttons">
                        <a class="btn btn-light" href="/Default">بازگشت به صفحه اصلی سایت</a>
                    </div>
                </div>
                <div class="row justify-content-end pt-5">
                    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">مجموع سبد</h3>
                                <table class="cart__totals">

                                    <thead class="cart__totals-header">

                                        <tr>
                                            <th>جمع جزء</th>

                                            @{
                                                <td>@String.Format(((Math.Round(Model.Sum) == Model.Sum) ? "{0:##,###}" : "{0:##,###}"), Model.Sum) تومان</td>

                                            }

                                        </tr>
                                        <tr>
                                            <th>تخفیف کل </th>
                                            @{
                                                if (Model.Discount > 0)
                                                {
                                                    <td id="Discount">@string.Format("{0:##,###}", Model.Discount, "Discount") تومان</td>
                                                }
                                                else
                                                {
                                                    <td id="Discount">0 تومان</td>
                                                }
                                            }
                                        </tr>
                                    </thead>

                                    <tbody class="cart__totals-body">
                                        <tr>
                                            <th>حمل و نقل</th>
                                            <td>
                                                @string.Format("{0:##,###}", Model.Transfer, "Price") تومان
                                                <div class="cart__calc-shipping"><a href="#">محاسبه هزینه</a></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="cart__totals-footer">
                                        <tr>
                                            @{


                                                Session["PayAmount"] = Model.SumPay;


                                            }
                                            <th>جمع کل</th>
                                            <td id="allSum">   @string.Format("{0:##,###}", Model.SumPay, "Discount") تومان </td>
                                        </tr>
                                    </tfoot>
                                </table><a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="/Orders">ادامه و اتصال به درگاه بانکی </a>

                                <div id="btnAddToCarts" class="hidden-lg hidden-md" style="">
                                    <div>
                                        <nav class="card mb-0 contact-us box-shadows" style="padding: 10px" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item" style="font-size: 16px;">
                                                    <small style="font-size: 10px"> تعداد کالا : </small>
                                                    @if (Model.CartsItems != null)
                                                    {
                                                        string a = Model.CartsItems.Count.ToString();
                                                        @a
                                                    }
                                                    <small style="font-size: 8px"> عدد </small>
                                                </li>




                                                <li class="breadcrumb-item text-danger" style="font-size: 16px;">
                                                    <small style="font-size: 10px"> جمع کل : </small>
                                                    @string.Format("{0:##,###}", Model.SumPay, "Discount") <small style="font-size: 8px"> تومان </small>
                                                </li>
                                            </ol>
                                            <a class="btn btn-primary btn-xl btn-block cart__checkout-button" href="/Orders">ادامه و اتصال به درگاه بانکی </a>

                                        </nav>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }


</div>





