@using OrdersGeneral.Repository.General
@model IEnumerable<OrdersGeneral.ViewModels.General.VmMenuAdmin.VmMenuAccessClient>
@{
    ViewBag.Title = "دسترسی ‌کاربر|UserAccess";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">دسترسی ‌کاربر</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Button trigger modal -->
                    <div class="container-fluid">
                        <a class="btn btn-success col-md-6 margin" data-toggle="modal" data-target="#exampleModal"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                        <a class="btn btn-success col-md-3 margin" href="/MenuManagement/AdminAccess/@Session["UserAccessId"]" class="btn btn-success">دسترسی ادمین</a>
                        <a class="btn btn-danger col-md-2 margin" href="/UserManagement/Index">برگشت</a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            ردیف
                                        </th>
                                        <th class="text-center">
                                            کد
                                        </th>
                                        <th class="text-center">
                                            فهرست
                                        </th>
                                        <th class="text-center">
                                            وضعیت
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            var row = 1;
                                            foreach (var management in Model)
                                            {
                                                <tr>

                                                    <td class="col-md-1 text-center">
                                                        @row
                                                    </td>
                                                    <td class="col-md-1 text-center">
                                                        @management.Code
                                                    </td>
                                                    @{
                                                        var primaryTitle = @management.PrimaryTitle;
                                                    }
                                                    <td class="col-md-3 text-center" style="font-size: 12px;">
                                                        @primaryTitle
                                                    </td>
                                                    <td class="col-md-1 text-center">
                                                        @if (management.IsOk)
                                                        {
                                                            <a href="/MenuManagement/MenuAccessChange/@management.Id" class="label label-success">فعال</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/MenuManagement/MenuAccessChange/@management.Id" class="label label-danger">غیرفعال</a>
                                                        }
                                                    </td>
                                                </tr>
                                                row++;

                                            }

                                        }




                                    }



                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("AddMenuAccess", "MenuManagement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            if (Session["UserAccessId"] != null)
            {
                <input type="hidden" value="@Session["UserAccessId"]" name="userRef" id="userRef" />
            }
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">فهرست را انتخاب کنید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <select class="form-control " id="menuRef" name="menuRef">
                        @{
                            var resultMenu = RepMenuAdmin.RepAdminMenuManagements();
                            if (resultMenu.Count > 0)
                            {
                                foreach (var item in resultMenu)
                                {
                                    <option value="@item.Id">@item.PrimaryTitle</option>
                                }
                            }

                        }

                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">افزودن</button>
                </div>



            </div>
       
        }
    </div>
</div>