@using OrdersInventory.Repository.Inventory
@using OrdersOrders.Repository.Orders
@*@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.VmMainProductMangement>*@
@model IEnumerable<OrdersOrders.ViewModels.Orders.VMDiscount.VmDiscountManagement>
@{
    ViewBag.Title = " داشبورد|Dashboard";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<link href="~/Helper/Admin/Content/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

<script src="~/Helper/Admin/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Helper/Admin/Scripts/bootstrap.min.js"></script>
<link href="~/Helper/Admin/Content/sepidyarhesab-custom.css" rel="stylesheet" />
<link href="~/Helper/Admin/Content/bootstrap-select.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">کدهای تخفیف</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                @*<div class="col-md-12" style="margin-top: 10px">
                        <div class="col-md-8 margin20-bottom">
                            <input name="Search" id="Search" type="text" onchange="Searching(this.value)" class="form-control" placeholder="کلمه مورد نظر خود را وارد کنید سپس کلید ENTER را بزنید" />
                        </div>
                        <div class="col-md-4">
                            <input type="button" name="clear" value="بازیابی صفحه" class="btn btn-warning col-md-12" onclick="Clear()" />
                        </div>
                    </div>*@

                @{

                    <div class="col-md-12 margin20-bottom">
                        <div class="col-md-5">
                            <a data-toggle="modal" data-target="#exampleModal" class="btn btn-info col-md-12">همه محصولات</a>
                        </div>
                        @if (Model != null)
                        {
                            <div class="col-md-5">
                                <a href="/DiscountManager/AllDelete/@Model.First().Entities" class="btn btn-warning col-md-12">حذف محصولات</a>
                            </div>
                        }
                        <div class="col-md-2">
                            <a href="/DiscountManager/Index" class="btn btn-danger col-md-12">بازگشت</a>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>
                                            ردیف
                                        </th>
                                        <th>
                                            محصول
                                        </th>
                                        <th>
                                            نوع تخفیف
                                        </th>
                                        <th>
                                            تعداد کل تخفیف
                                        </th>
                                        <th>
                                                کد تخفیف
                                         </th>
                                        <th>
                                            درصد تخفیف
                                        </th> 
                                        <th>
                                            قیمت تخفیف
                                        </th>
                                        <th>
                                            نام کاربر
                                        </th>
                                        <th>
                                            تاریخ شروع
                                        </th>
                                        <th>
                                            تاریخ پایان
                                        </th>

                                        @*<th>
                                                ذخیره
                                            </th>*@
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {
                                    <tbody>

                                        @{

                                            var row = 1;
                                            foreach (var mangment in Model)
                                            {
                                                <tr>

                                                    <td class="col-md-1">
                                                        @row
                                                    </td>
                                                    <td class="col-md-3">
                                                        @mangment.ProductTitle
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.Entities
                                                    </td>
                                                    <td class="col-md-1">
                                                        @mangment.DiscountQuantity
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.DiscountCode
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.Discount
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.DiscountFee
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.FullName
                                                    </td>
                                                   
                                                    <td class="col-md-2">
                                                        @mangment.StartDate1
                                                    </td>
                                                    <td class="col-md-2">
                                                        @mangment.EndDate1
                                                    </td>



                                                    @*@using (Html.BeginForm("Discount", "DiscountManager", FormMethod.Post))
                                                        {
                                                            <td class="col-md-2">
                                                                <input type="hidden" value="@mangment.Id" name="Id" id="Id" />
                                                                <input class="form-control" id="DiscountCode" name="DiscountCode" type="text" value="@mangment.DiscountCode" />
                                                            </td>
                                                            <td class="col-md-1 center">
                                                                <input type="hidden" value="@mangment.Id" name="Id" id="Id" />
                                                                <input class="form-control" id="Discount" name="Discount" type="number" value="@mangment.Discount" />
                                                            </td>
                                                            <td class="col-md-1 center">
                                                                <button type="submit" class="btn btn-success btn-block" id="@mangment.ProductRef">ذخیره</button>
                                                            </td>
                                                        }*@


                                                </tr>
                                                row++;

                                            }
                                        }



                                    </tbody>
                                }
                            </table>





                        </div>
                    </div>



                }

            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("AllDiscounts", "DiscountManager", FormMethod.Post))
        {
        
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">درصد و کد تخفیف را وارد کنید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input class="form-control text-box single-line" id="DiscountCode" name="DiscountCode" placeholder="کد تخفیف" type="text" value="" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control text-box single-line" id="DiscountQuantity" name="DiscountQuantity" placeholder="تعداد کل تخفیف" type="number" value="" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input class="form-control text-box single-line" id="Discount" name="Discount" placeholder="درصدتخفیف" type="number" onkeypress="return isNumberKey(event)" value="" pattern="\D" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control text-box single-line" id="DiscountFee" name="DiscountFee" placeholder="قیمت تخفیف" type="number" onkeypress="return isNumberKey(event)" value="" pattern="\D" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <select class="form-control selectpicker" id="DiscountUser" name="DiscountUser" data-show-subtext="true" data-live-search="true">
                                            @{
                                                var User = RepDiscount.RepositoryUserManagment();
                                                if (User.Count > 0)
                                                {
                                                    foreach (var Users in User)
                                                    {
                                                        <option selected="@(Users.Code == "1" ? "selected" : string.Empty)" value="@Users.Id">@Users.FullName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control text-box single-line" id="Entities" name="Entities" placeholder="تخفیف روی همه" type="number" value="AllDiscount" disabled="disabled" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#StartDate1" data-groupid="group1"
                                                 data-fromdate="true" data-enabletimepicker="true" data-placement="left">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input type="text" class="form-control" id="StartDate1" name="StartDate1" placeholder="از تاریخ" data-mddatetimepicker="true" data-trigger="click"
                                                   data-targetselector="#StartDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="true" data-placement="right" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#EndDate1" data-groupid="group1"
                                                 data-fromdate="true" data-enabletimepicker="true" data-placement="left">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input type="text" class="form-control" id="EndDate1" name="EndDate1" placeholder="تا تاریخ" data-mddatetimepicker="true" data-trigger="click"
                                                   data-targetselector="#EndDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="true" data-placement="right" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="submit" class="btn btn-primary">افزودن</button>
                </div>
            </div>
        }
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="~/Helper/Admin/Scripts/jalaali.js"></script>
<script src="~/Helper/Admin/Scripts/jquery.Bootstrap-PersianDateTimePicker.js"></script>

<script src="~/Helper/Admin/Scripts/bootstrap.min.js"></script>
<script>
    function Searching(searchtext) {
        var a = window.location.href;
        if (a.includes("?serach")) {
            alert("شما فقط میتوانید یک کلمه را جستجو کنید برای جستجو عبارت جدید ابتدا بر روی همه محصولات را کلیک کنید. ");

        }
        else {
            window.location.href = window.location.href +
                "?serach=" + searchtext;
        }

    }
    function Clear() {
        var a = window.location.href;
        var s = a.split('?');
        window.location.href = s[0];
    }
</script>



