@model IEnumerable<OrdersSettings.ViewModels.Settings.VMMetaConfiguration.ViewModelsMetaConfigurations>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>

@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-lg-12 connectedSortable">
                            <div class="box box-info">
                                @using (Html.BeginForm("EditRow", "MetaConfigurationManagement", FormMethod.Post))
                                {

                                    @Html.AntiForgeryToken()
                                    <div class="box-header">
                                        <i class="fa fa-envelope"></i>
                                        <h3 class="box-title">ویرایش گواهینامه </h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input type="hidden" name="Id" id="Id" value="@item.Id">
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Sort">شماره مرتب سازی</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="number" value="@item.Sort" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="PrimaryTitle">عنوان اصلی</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اصلی" type="text" value="@item.PrimaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="SecondaryTitle">عنوان فرعی</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="عنوان فرعی" type="text" value="@item.SecondaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="Note">HTML گواهینامه</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Note" name="Note" placeholder="HTML گواهینامه" type="text" value="@item.Note" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            <a href="/MetaConfigurationManagement/Index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                        </div>
                                    </div>
                                }

                            </div>


                        </div>
                    </div>
                </div>
            </section>
        }

    }
}


