@model IEnumerable<OrdersGeneral.ViewModels.General.VMContactUs.VmContactUsManagement>
@{
    ViewBag.Title = "تماس با ما|ContactUs";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">تماس با ما</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>

                    <div class="site-header__search">
                        <div class="search">

                            <form class="search__form" action="/ContactUs/ContactUs" method="post">
                                <input class="search__input" name="Search" id="Search" placeholder="جستجوی کافیست کلمه کلیدی را وارد کنید ..." aria-label="Site search" type="text" autocomplete="off">
                                <button class="search__button" type="submit">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="/Helper/Layouts/images/sprite.svg#search-20"></use>
                                    </svg>
                                </button>
                                <div class="search__border"></div>
                                <button class="btn btn-danger" style="margin-left: -104px;" onclick="reload()">
                                    بازیابی مجدد
                                </button>
                            </form>

                        </div>

                    </div>
                    <script>

                        function reload() {
                            window.location.href = "/ContactUs/ContactUs";
                        }
                    </script>


                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="ckbox" type="checkbox" value="">
                                    </th>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        کد
                                    </th>
                                    <th>
                                        نام
                                    </th>
                                    <th>
                                        پیام
                                    </th>
                                    <th>
                                        موضوع
                                    </th>
                                    <th>
                                        شماره تماس
                                    </th>
                                    <th>
                                        ایمیل
                                    </th>
                                    <th>تاریخ</th>
                                    <th>
                                        جوابدهی
                                    </th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {

                                        var row = 1;
                                        foreach (var management in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="">
                                                </td>
                                                <td class="col-md-1">
                                                    @row
                                                </td>
                                                <td class="col-md-2 copy">
                                                    <p>@management.Name </p>
                                                </td>
                                                <td class="col-md-1 copy">
                                                    <p>@management.Code </p>
                                                </td>
                                                <td class="col-md-1 copy">
                                                    <p>@management.Note </p>
                                                </td>
                                                <td class="col-md-1">
                                                    <p>@management.Object </p>
                                                </td>
                                                <td class="col-md-1">
                                                    <p>@management.Phone </p>
                                                </td>
                                                <td class="col-md-1">
                                                    <p>@management.Email </p>
                                                </td>
                                                <td class="col-md-1">
                                                    @string.Format("{0:dddd dd MMMM yyyy - hh:mm:ss}", management.CreatorDate)
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="/ContactUs/Answer/@management.Id" class="btn btn-warning">جوابدهی</a>
                                                </td>
                                                <td class="col-md-1">
                                                    <a class="btn btn-danger" href="/ContactUs/Delete/@management.Id">×</a>
                                                </td>
                                            </tr>
                                            row++;

                                        }
                                    }

                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

