@using OrdersGeneral.Repository.General
@model IEnumerable<OrdersGeneral.ViewModels.General.VMUser.VMUsers>

@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}


<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title"> مدیریت کاربران</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>

                    <div class="site-header__search">
                        <div class="search">

                            <form class="search__form" action="/UserManagement/Index" method="post">
                                <input class="search__input" name="Search" id="Search" placeholder="جستجوی کاربر کافیست کلمه کلیدی را وارد کنید ..." aria-label="Site search" type="text" autocomplete="off">
                                <button class="search__button" type="submit">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="/Helper/Layouts/images/sprite.svg#search-20"></use>
                                    </svg>
                                </button>
                                <div class="search__border"></div>
                                <button class="btn btn-danger" style="margin-left: -104px;" onclick="reload()">
                                    بازیابی مجدد
                                </button>
                            </form>

                        </div>

                    </div>
                    <script>

                        function reload() {
                            window.location.href = "/UserManagement";
                        }
                    </script>


                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                        <a href="/UserManagement/Add" class="btn btn-success" style="width: 80%"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                        <a class="btn btn-danger " href="/AdminDashboard" style="width: 19%">برگشت</a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            ردیف
                                        </th>
                                        <th class="text-center">
                                            کد
                                        </th>
                                        <th class="text-center">
                                            نام و نام خانوادگی
                                        </th>
                                        <th class="text-center">
                                            شماره تماس
                                        </th>
                                        <th class="text-center">
                                            کد ملی
                                        </th>
                                        <th class="text-center">
                                            نقش
                                        </th>
                                        <th class="text-center">
                                            لیست سیاه
                                        </th>
                                        <th class="text-center">
                                            دسترسی
                                        </th>
                                        <th class="text-center">
                                            وضعیت
                                        </th>
                                        <th class="text-center">ویرایش</th>
                                        <th class="text-center">حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
//var user = RepUsers.RepositoryUserManagment();
//if (user.Count > 0)

//{
//    var row = 1;
//    foreach (var mangment in user)
//    {var id = User.Identity.Name;

                                        if (Model != null)
                                        {
               
                                            var row = 1;
                                            foreach (var mangment in Model)
                                            {
                                                <tr>

                                                    <td class="col-md-1 text-center">
                                                        @row
                                                    </td>
                                                    <td class="col-md-1 text-center copy">
                                                        @mangment.Code
                                                    </td>
                                                    @{
                                                        var fullName = @mangment.Name + " " + @mangment.Family;
                                                    }
                                                    <td class="col-md-3 text-center copy" style="font-size: 12px;">
                                                        @fullName
                                                    </td>
                                                    <td class="col-md-3 text-center copy" style="font-size: 12px;">
                                                        @mangment.Phone
                                                    </td>
                                                    <td class="col-md-3 text-center copy" style="font-size: 12px;">
                                                        @mangment.IdentificationCode
                                                    </td>
                                                    <td class="col-md-3 text-center" style="font-size: 12px;">
                                                        @mangment.RoleTitle
                                                    </td>
                                                    <td class="col-md-3 text-center" style="font-size: 12px;">
                                                        @if (mangment.IsInBlacklist)
                                                        {
                                                            <a href="/UserManagement/ChangeBlackList/@mangment.Id" class="btn btn-danger">خروج از لیست </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/UserManagement/ChangeBlackList/@mangment.Id" class="btn btn-danger">  ورود به لیست</a>
                                                        }
                                                    </td>

                                                    <td class="text-center">
                                                        <a class="btn btn-warning" href="/MenuManagement/ListAccess/@mangment.Id">دسترسی</a>
                                                    </td>

                                                    <td class="col-md-1 text-center">
                                                        @if ((bool)mangment.IsOk)
                                                        {
                                                            <a href="/UserManagement/ChangeStatus/@mangment.Id" class="btn btn-success">فعال</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/UserManagement/ChangeStatus/@mangment.Id" class="btn btn-danger">غیرفعال</a>
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="btn btn-info glyphicon glyphicon-edit" href="/UserManagement/Edit/@mangment.Id"></a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="btn btn-danger " href="/UserManagement/AddToDeleteUser/@mangment.Id">×</a>
                                                    </td>

                                                </tr>

                                                row++;

                                            }

                                        }




                                    }



                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var color = document.querySelectorAll('.copy') //DOM selector

    //Loop through all elements and attaching event listener
    color.forEach(el => {
        el.addEventListener('click', copyText);
    });

    // function for selecting the text of an element based on the event.target (supporting IE)
    function selectText() {
        var element = event.target
        var range;
        if (document.selection) {
            // IE
            range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        } else if (window.getSelection) {
            range = document.createRange();
            range.selectNode(element);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
        }
    }

    // function for copying selected text in clipboard
    function copyText() {
        selectText();
        alert('متن مورد نظر کپی شد');
        document.execCommand("copy");
    }
</script>
