
@using OrdersExtentions.Extensions
@using OrdersGeneral.Repository.General
@using OrdersOrders.ViewModels.Orders
@using OrdersSettings.Repository.Settings
@model  OrdersOrders.ViewModels.Orders.VMOrders.VmOrderCarts
@{
    ViewBag.Title = "سبد خرید|Cart";

    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

@{

    if (Model != null)
    {
        <div class="row mb-4">
        <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
            <div class="checkout-section shadow-around">
                <div class="checkout-step">
                    <ul>
                        <li class="active"><span>سبد خرید</span></li>
                        <li>
                            <span>نحوه ارسال و پرداخت</span>
                        </li>
                        <li>
                            <span>اتمام خرید و ارسال</span>
                        </li>
                    </ul>
                </div>
                <div class="checkout-section-content">
                    @{
                        if (Model.CartsItems != null)
                        {
                            foreach (var item in Model.CartsItems)
                            {
                                LogWriter.Logger("MAMAD:be jaaane bacham pooore", DateTime.Now.ToString(), "50");
                                <div class="cart-items">
                                    <div class="cart-item py-4 px-3">
                                        <div class="item-thumbnail">
                                            <a href="@Url.RouteUrl("Product", new { id = item.ProductId })">
                                                <img src="@item.FileName" alt="@item.ProductTitle">
                                            </a>
                                        </div>
                                        <div class="item-info flex-grow-1">
                                            <div class="item-title">
                                                <h2 style="font-size: 25px">
                                                    <a href="@Url.RouteUrl("Product", new { id = item.ProductId })">
                                                        @item.ProductTitle
                                                    </a>
                                                </h2>
                                            </div>
                                            <div class="item-detail">
                                                <ul>
                                                    @{

                                                        var type = RepSettings.RepositoryTypeSelect();
                                                        if (type != Guid.Empty)
                                                        {
                                                            if (type == Guid.Parse("aa7490c8-31b2-47a4-951b-2a52a4488738"))
                                                            {
                                                                <li>
                                                                    <i class="fal fa-brush"></i>
                                                                    <span>
                                                                        رنگ:
                                                                    </span>
                                                                    <span style="font-weight: bold;font-size: 15px">&nbsp;@item.ColorTitle</span>
                                                                </li>
                                                                <li>
                                                                    <i class="fal fa-pencil-ruler"></i>
                                                                    <span>سایز: </span>
                                                                    <span style="font-weight: bold;font-size: 15px">&nbsp;@item.SizeTitle</span>
                                                                </li>
                                                            }
                                                        }
                                                    }

                                                    <li>
                                                        <i class="fal fa-barcode"></i>
                                                        <span>کد: &nbsp;</span>
                                                        <span style="font-weight: bold;font-size: 15px">@item.Code &nbsp;</span>
                                                    </li>
                                                    <li>
                                                        <i class="fal fa-percent"></i>

                                                        <span>تخفیف: </span>
                                                        @{
                                                            if (@item.RowDiscount > 0)
                                                            {
                                                                <span class="text-danger" style="font-weight: bold;font-size: 20px">&nbsp; @string.Format("{0:##,###}", item.RowDiscount, "") </span> <span class="text-sm mr-1 text-danger">تومان</span>

                                                            }
                                                            else
                                                            {
                                                                <span style="font-weight: bold;font-size: 20px">&nbsp;0 </span><span class="text-sm mr-1">تومان</span>

                                                            }
                                                        }

                                                    </li>
                                                    <li>
                                                        <i class="fal fa-tags"></i>

                                                        <span>قیمت: </span>
                                                        <span style="font-weight: bold;font-size: 20px">
                                                            &nbsp; @string.Format("{0:##,###}", item.Fee, "")<span class="text-sm mr-1">تومان</span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <i class="fal fa-calculator"></i>

                                                        <span>تعداد: </span>
                                                        <span style="font-weight: bold;font-size: 20px">&nbsp;@item.Quantity <span class="text-sm mr-1">عدد</span></span>
                                                    </li>
                                                    <li>
                                                        <i class="fal fa-tags"></i>

                                                        <span>قیمت: </span>
                                                        <span style="font-weight: bold;font-size: 20px">
                                                            &nbsp; @String.Format(((Math.Round(@item.Price) == item.Price) ? "{0:##,###}" : "{0:##,###}"), item.Price)<span class="text-sm mr-1">تومان</span>

                                                        </span>
                                                    </li>

                                                </ul>
                                                <div class="item-quantity--item-price">
                                                    <div class="item-quantity">
                                                        <div class="num-block">
                                                            <div class="num-in">
                                                                <span class="plus" onclick="plus('@item.Code')"></span>
                                                                <input type="text" class="in-num" value="@item.Quantity" readonly="">
                                                                <span class="minus dis" onclick="minus('@item.Code')"></span>
                                                            </div>
                                                        </div>
                                                        <button class="item-remove-btn mr-3 text-danger" onclick="deletecarts('@item.Code');">
                                                            <i class="far fa-trash-alt"></i>
                                                            حذف
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                        else
                        {
                            LogWriter.Logger("MAMAD:be jaaane bacham khalie", DateTime.Now.ToString(), "50");

                        }
                    }


                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="shadow-around pt-3">

                @using (Html.BeginForm("Index", "Carts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-12">
                        <div class="checkout-section-title">کد تخفیف</div>

                        <div class="form-element-row mr-1">
                            <div class="form-element-row flex-grow-1">
                                <input type="hidden" id="sum" name="sum" value="@Model.Discount" />
                                <input type="hidden" name="Discount" id="Discount" value="false" />
                                <input type="text" class="input-element" name="code" id="code" placeholder="کد تخفیف را وارد کنید">
                            </div>
                  
                        </div>
                        <div class="form-element-row mr-1">
                            <button class="btn-element btn-block btn-info-element" id="Discount" type="submit" >
                                ثبت کد تخفیف
                            </button>
                        </div>
                    </div>
                }
                <div class="form-element-row">
                    <div class="payment-selection">

                        @*@{
                                    var transferpay = RepTransfer.RepositoryMainTransfer();
                                    if (transferpay != null)
                                    {
                                        foreach (var trasfer in transferpay)
                                        {
                                            <div class="custom-control custom-radio custom-control-inline mb-3">
                                                <input type="radio" onclick="selectiran()" id="@trasfer.SecondaryTitle" name="paymentSelection"
                                                       class="custom-control-input" checked>
                                                <label class="custom-control-label payment-select" for="paymentSelection1">
                                                    <span class="d-flex align-items-center">
                                                        <span>
                                                            <span class="title">@trasfer.PrimaryTitle</span>
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                            <br/>
                                        }
                                    }
                                }*@
                        @{
                            var resultPay = Repfooter.RepTransferPay();
                            if (resultPay.Count > 0)
                            {
                                <div class="product-colors m-3"  style="margin: 10px">
                                    <span class="d-block mb-3">نحوه ارسال :</span>
                                    <select class="select2 select2-hidden-accessible" id="TransferPrice" onchange="transferSum(this);">
                                        @foreach (var transfer in resultPay)
                                        {
                                            <option value="@transfer.TarnsferPay">@transfer.PrimaryTitle @transfer.TarnsferPay <small> تومان </small> @transfer.Note</option>
                                        }
                                    </select>
                                </div>

                            }


                        }

                    </div>
                </div>

                <div class="shadow-around pt-3">
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="text-muted">قیمت کالاها</span>
                        <span class="text-muted">
                            @String.Format(((Math.Round(Model.Sum) == Model.Sum) ? "{0:##,###}" : "{0:##,###}"), Model.Sum)
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="text-muted">حمل و نقل</span>
                        <span class="text-muted">
                            @if (Model.Transfer > 0)
                            {
                                <span class="text-muted" id="Transfer">
                                    @string.Format("{0:##,###}", Model.Transfer, "Price")

                                </span>
                                <span class="text-sm">تومان</span>
                            }
                            else
                            {
                                <span class="text-muted" id="Transfer">
                                    0
                                </span>
                                <span class="text-sm">تومان</span>
                            }
                        </span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="text-muted">مبلغ کل</span>
                        @{
                            Session["PayAmount"] = Model.SumPay;
                        }
                        <span class="text-muted" id="allSum">
                            <span id="Sum">@string.Format("{0:##,###}", Model.SumPay, "Discount")</span>
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="text-danger">سود شما از خرید</span>
                        @{
                            if (Model.Discount > 0)
                            {
                                <span class="text-danger" id="Discount">
                                    @string.Format("{0:##,###}", Model.Discount, "sumdis")
                                    <span class="text-sm">تومان</span>
                                </span>
                            }
                            else
                            {
                                <span class="text-danger" id="Discount">
                                    0
                                    <span class="text-sm">تومان</span>
                                </span>
                            }
                        }

                    </div>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="font-weight-bold" style="font-size: 18px">مبلغ قابل پرداخت</span>
                        @{
                            Session["PayAmount"] = Model.SumPay;
                        }
                        <span class="font-weight-bold" id="allSum" style="font-size: 18px">
                            <span id="Pay">@string.Format("{0:##,###}", Model.SumPay, "Discount")</span>
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>
                    @using (Html.BeginForm("Index", "Orders", FormMethod.Post))
                    {
                        <input type="hidden" name="transferpay" id="transferpay" value="0" />
                        <div class="d-flex px-3 py-4">
                            <button type="submit" id="PayBtn" class="btn btn-danger btn-block py-2" disabled="disabled">ادامه فرایند خرید</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
        <script>
            function transferSum(a) {
                var x = (a.value || a.options[a.selectedIndex].value);
                var g = document.getElementById('PayBtn');
                if (x === "0") {
                    g.disabled = 'disabled';
                    alert('نحوه ارسال را مشخص کنید');
                } else {
                    var d = document.getElementById('Transfer').innerHTML = x;
                    var z = document.getElementById('transferpay').value = x;
                    var f = document.getElementById('Pay').innerHTML = parseInt(@Model.SumPay) + parseInt(d);
                    g.disabled = '';
                }

                //$.ajax({
                //    url: "/Orders/DeleteCartsPost",
                //    type: "Post",
                //    data: { id: id }
                //}).done(function (result) {
                //    $("#shopcarts").html(result);
                //    window.location.href = "/Carts";
                //});

            }
        </script>
        @*<script>
            function selectqazvin() {
                var x = document.getElementById('Transfer');
                var z = document.getElementById('transferpay');
                var y = document.getElementById('SumPay');
                x.innerHTML = 35000;
                z.value = 35000;
                y.innerHTML = @Model.SumPay  + 35000;
            }
        </script>
        <script>
            function selectiran() {
                var x = document.getElementById('Transfer');
                var z = document.getElementById('transferpay');
                var y = document.getElementById('SumPay');
                x.innerHTML = 25000;
                z.value = 25000;
                y.innerHTML = @Model.SumPay + 25000;
            }
        </script>*@

        <script>
            function deletecarts(id) {
                $.ajax({
                    url: "/Orders/DeleteCartsPost",
                    type: "Post",
                    data: { id: id }
                }).done(function (result) {
                    $("#shopcarts").html(result);
                    window.location.href = "/Carts";
                });

            }
        </script>
        <script>
            function plus(id) {
                $.ajax({
                    url: "/Orders/UpdateCartsPost",
                    type: "Post",
                    data: { id: id, entites: "+" }
                }).done(function (result) {
                    $("#shopcarts").html(result);
                    window.location.href = "/Carts";
                });

            }
        </script>
        <script>
            function minus(id) {
                $.ajax({
                    url: "/Orders/UpdateCartsPost",
                    type: "Post",
                    data: { id: id, entites: "-" }
                }).done(function (result) {
                    $("#shopcarts").html(result);
                    window.location.href = "/Carts";
                });

            }
        </script>
    }



}





