@model IEnumerable<OrdersGeneral.ViewModels.General.VMKnowing.VmKnowingManagement>

@{
    ViewBag.Title = "درباره ما|AboutUs";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">درباره ما</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>

                    <div class="site-header__search">
                        <div class="search">

                            <form class="search__form" action="/Knowing/AboutUs" method="post">
                                <input class="search__input" name="Search" id="Search" placeholder="جستجوی اسلایدر کافیست کلمه کلیدی را وارد کنید ..." aria-label="Site search" type="text" autocomplete="off">
                                <button class="search__button" type="submit">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="/Helper/Layouts/images/sprite.svg#search-20"></use>
                                    </svg>
                                </button>
                                <div class="search__border"></div>
                                <button class="btn btn-danger" style="margin-left: -104px;" onclick="reload()">
                                    بازیابی مجدد
                                </button>
                            </form>

                        </div>

                    </div>
                    <script>

                        function reload() {
                            window.location.href = "/Knowing/AboutUs";
                        }
                    </script>


                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                        <a href="/Knowing/Add" class="btn btn-success" style="width: 80%"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                        <a class="btn btn-danger " href="/AdminDashboard" style="width: 19%">برگشت</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="ckbox" type="checkbox" value="">
                                    </th>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        عنوان اصلی
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th>تصویر </th>
                                    <th>
                                        لینک
                                    </th>
                                    <th>تاریخ</th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {

                                        var row = 1;
                                        foreach (var management in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="">
                                                </td>
                                                <td class="col-md-1">
                                                    @row
                                                </td>
                                                <td class="col-md-2 copy">
                                                    <p>@management.PrimaryTitle </p>
                                                </td>
                                                <td class="col-md-1 copy">
                                                    <p>@management.SecondaryTitle </p>
                                                </td>
                                                <td class="col-md-1">
                                                    <img src="@management.FileName" width="50" />
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="@management.Url" target="_blank"> @management.Url</a>
                                                </td>
                                                <td class="col-md-1">
                                                    @string.Format("{0:dddd dd MMMM yyyy - hh:mm:ss}", management.CreatorDate)
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="/Knowing/ChangeStatus/@management.Id" class="@management.IsOkClass">@management.IsOkTitle</a>
                                                </td>
                                                <td class="col-md-1">
                                                    <a class="btn btn-info glyphicon glyphicon-edit" href="/Knowing/Edit/@management.Id"></a>
                                                </td>
                                                <td class="col-md-1">
                                                    <a class="btn btn-danger " href="/Knowing/Delete/@management.Id">×</a>
                                                </td>
                                            </tr>
                                            row++;

                                        }
                                    }

                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>