@model OrdersOrders.ViewModels.Orders.VMSamanPaymentResult
@{
    ViewBag.Title = "نتیجه سفارش شما|ResultOfYourOrder";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="row mb-4">
    <div class="col-xl-12 col-lg-10 col-md-10 mb-md-0 mb-3">
        <div class="checkout-section shadow-around">
            <div class="checkout-step">
                <ul>
                    <li class="active">
                        <a href="#"><span>سبد خرید</span></a>
                    </li>
                    <li class="active">
                        <span>نحوه ارسال و پرداخت</span>
                    </li>
                    <li class="active">
                        <span>اتمام خرید و ارسال</span>
                    </li>
                </ul>
            </div>
            <div class="checkout-message">
                @{
                    if (Model != null)
                    {
                        if (Model.IsOk)
                        {
                            <div class="checkout-message-success mb-3">
                                <div class="icon-message success-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                                سفارش <span class="order-code">@Model.ResNumber</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.RefNumber</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.Class</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.Messages</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.UserId</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.OrderId</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.IsOk</span> با موفقیت ثبت گردید.
                            </div>
                        }
                        else
                        {
                            <div class="checkout-message-failed mb-3">
                                <div class="icon-message failed-icon">
                                    <i class="fas fa-times"></i>
                                </div>
                                سفارش <span class="order-code">@Model.ResNumber</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.RefNumber</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.Class</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.Messages</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.UserId</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.OrderId</span> با موفقیت ثبت گردید.
                                سفارش <span class="order-code">@Model.IsOk</span> با موفقیت ثبت گردید.
                                عملیات ثبت سفارش با خطا مواجه شد
                            </div>
                        }
                    }
                    else
                    {
                        <div class="checkout-message-failed mb-3">
                            <div class="icon-message failed-icon">
                                <i class="fas fa-times"></i>
                            </div>
                            عملیات ثبت سفارش با خطا مواجه شد
                        </div>
                    }








         
                }

            </div>
        </div>
    </div>
</div>



