@using OrdersGeneral.Repository.General
@using OrdersInventory.Repository.Inventory
@model IEnumerable<OrdersGeneral.ViewModels.General.VMBlogs.VMBlog>

@{
    ViewBag.Title = "ویرایش محصول|ProductEditing";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">

                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                using (Html.BeginForm("EditRow", "BlogManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="box-header">
                                        <i class="fa fa-envelope"></i>
                                        <h3 class="box-title">ویرایش بلاگ</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Code">کد</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" disabled="disabled" id="Code" name="Code" placeholder="کد" type="text" value="@item.Code" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="PrimaryTitle">تیتر</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="تیتر" type="text" value="@item.PrimaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <hr />
                                                <label class="control-label col-md-2" for="Summary">خلاصه</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Summary" name="Summary" placeholder="خلاصه" type="text" value="@item.Summary" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="Sort">ترتیب</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="ترتیب قرار گیری" type="number" value="@item.Sort" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Tag">تگ ها</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Tag" name="Tag" type="text" value="@item.Tag"/>
                                                    <p class="help-block">کلمات را با «-» جدا کنید.</p>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="CategoryRef">دسته بندی ها</label>
                                                <div class="col-md-4">
                                                    <select class="form-control " id="CategoryRef" name="CategoryRef">
                                                        @{
                                                            var category = RepBlog.RepositoryBlogCategoryManagmentDropDown();

                                                            foreach (var items in category)
                                                            {
                                                                if (items.Id == item.CategoryRef)
                                                                {
                                                                    <option value="@items.Id" selected="selected">@items.PrimaryTitle</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Id">@items.PrimaryTitle</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="control-label col-md-2" for="Description">متن کامل</label>
                                                <div class="col-md-10">
                                                    <textarea class="form-control text-box single-line" id="Description" name="Description" placeholder="متن کامل" rows="4" cols="50">@Html.Raw(@item.Description)</textarea>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Title">عکس</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="FileName" name="FileName" type="file" value="@item.FileName" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            <a href="/BlogManagement/index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                        </div>
                                    </div>
                                }
                            }

                        }




                    }



                </div>
            </div>


        </div>
    </div>
</section>


@{
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>


        CKEDITOR.replace('Description', {
        })
    </script>
}



