@using WebApplicationOrders.Controllers
@model OrdersSettings.ViewModels.Settings.VMSettings.VMSettingsManagmet
@{
    ViewBag.Title = "ویرایش تنظیمات";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">

                    @{
                        if (Model != null)
                        {

                            using (Html.BeginForm("EditRow", "SettingsManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="box-header">
                                    <i class="fa fa-envelope"></i>
                                    <h3 class="box-title">ویرایش تنظیمات</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-horizontal">

                                                <input type="hidden" name="Id" id="Id" value="@Model.Id">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="PrimaryTitle">عنوان اول</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اصلی" type="text" value="@Model.PrimaryTitle" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>

                                                        <label class="control-label col-md-2" for="SecondaryTitle">عنوان دوم</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="عنوان اصلی" type="text" value="@Model.SecondaryTitle" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="Email">ایمیل</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Email" name="Email" placeholder="ایمیل" type="text" value="@Model.Email" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                        <label class="control-label col-md-2" for="Phone">تلفن</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Phone" name="Phone" placeholder="تلفن" type="text" value="@Model.Phone" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="Telegram">تلگرام</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Telegram" name="Telegram" placeholder="تلگرام" type="text" value="@Model.Telegram" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                        <label class="control-label col-md-2" for="Instagram">اینستاگرام</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Instagram" name="Instagram" placeholder="اینستاگرام" type="text" value="@Model.Instagram" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" for="Whatsupp">واتساپ</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Whatsapp" name="Whatsapp" placeholder="واتساپ" type="text" value="@Model.Whatsapp" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>

                                                        <label class="control-label col-md-2" for="Facebook">فیسبوک</label>
                                                        <div class="col-md-4">
                                                            <input class="form-control text-box single-line" id="Facebook" name="Facebook" placeholder="فیسبوک" type="text" value="@Model.Facebook" />
                                                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2" for="Facebook">آپارات</label>
                                                    <div class="col-md-4">
                                                        <input class="form-control text-box single-line" id="Aparat" name="Aparat" placeholder="آپارات" type="text" value="@Model.Aparat" />
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>


                                                    </div>    
                                                        
                                                    <label class="control-label col-md-2" for="FileUploadPc">لوگو کامپیوتر</label>
                                                    <div class="col-md-4">
                                                        <input class="form-control text-box single-line" id="file" name="file" placeholder="لوگو" type="file"  />
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-2" for="FileUploadMobile">لوگو موبایل</label>
                                                    <div class="col-md-4">
                                                        <input class="form-control text-box single-line" id="file2" name="file2" placeholder="لوگو" type="file"  />
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                                                    </div>
                                                </div>

                                                <div class="box-footer clearfix">
                                                    <div class="col-md-12 col-md-offset-9">
                                                        <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                                        <a href="/SettingsManagement/Index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                                    </div>
                                                </div>

                                    </div>
                                </div>

                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>


