@using OrdersGeneral.Repository.General
@using OrdersInventory.Repository.Inventory

@{
    ViewBag.Title = "تنظیمات";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">تنظیمات</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                    </div>
                    <div class="table-responsive">



                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>

                                        <input class="ckbox" type="checkbox" value="">

                                    </th>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        کد
                                    </th>
                                    <th>
                                        نام
                                    </th>
                                    <th>
                                        هزینه باربری
                                    </th>
                                    <th>
                                        ایمیل
                                    </th>
                                    <th>
                                        تلفن
                                    </th>
                                    <th>
                                        مرتب سازی
                                    </th>
                                    <th>
                                        تاریخ
                                    </th>

                                    <th>
                                        وضعیت
                                    </th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var query = RepSettings.RepositoryMainsSettingsManagmets();
                                    if (query.Count > 0)
                                    {
                                        var row = 1;
                                        foreach (var mangment in query)
                                        {
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox" value="">
                                                                    </td>
                                                                    <td class="col-md-1">
                                                                        @row
                                                                    </td>
                                                                    <td class="col-md-2" style="font-size: 12px;">
                                                                        @mangment.Code
                                                                    </td>
                                                                    <td class="col-md-2">
                                                                        <a href="#">@mangment.PrimaryTitle </a>

                                                                    </td>
                                                                    <td class="col-md-2">
                                                                        <a href="#">@mangment.SecondaryTitle </a>
                                                                    </td>
                                                                    <td class="col-md-2">
                                                                        <a href="#">@mangment.Email </a>
                                                                    </td>

                                                                    <td class="col-md-2">
                                                                        <a href="#">@mangment.Phone </a>
                                                                    </td>




                                                                    <td class="col-md-2">
                                                                        <a href="#">@mangment.Sort </a>
                                                                    </td>





                                                                    <td class="col-md-1">
                                                                        @string.Format("{0:dddd dd MMMM yyyy - hh:mm:ss}", mangment.CreatorDate)
                                                                    </td>
                                                                    <td class="col-md-1">

                                                                        <a href="/SettingsManagement/ChangeStatus/@mangment.Id" class="@mangment.IsOkClass">@mangment.IsOkTitle</a>


                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-info glyphicon glyphicon-edit" href="/SettingsManagement/Edit/@mangment.Id"></a>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <a class="btn btn-danger " href="/SettingsManagement/Delete/@mangment.Id">×</a>
                                                                    </td>

                                                                </tr>
                                            row++;

                                        }
                                    }




                                }



                            </tbody>
                        </table>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


