@using System.Web.Configuration
@using OrdersGeneral.Repository.General
@using OrdersInventory.Repository.Inventory
@using OrdersOrders.Repository.Orders
@using OrdersSettings.Repository.Settings


<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>
    @Html.Partial("Body/P_MainLayout_head")
</head>
<body @*onload="ErrorNoSale()"*@>

    <!-- quickview-modal -->
    <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- quickview-modal / end -->
    <!-- mobilemenu -->

    @Html.Partial("Body/P_MainLayout_Mobile_Menu")

    <!-- mobilemenu / end -->
    <!-- site -->
    <div class="site">
        <!-- mobile site__header -->
        <header class="site__header d-lg-none">
            @Html.Partial("Body/P_MainLayout_Header_Mobile")
        </header>
        <!-- mobile site__header / end -->
        <!-- desktop site__header -->
        <header class="site__header d-lg-block d-none">
            @Html.Partial("Body/P_MainLayout_header")
        </header>
        <!-- desktop site__header / end -->
        <!-- site__body -->
        <div class="site__body">
            @RenderBody()
        </div>
        <!-- site__body / end -->
        <!-- site__footer -->
        <footer class="site__footer footer-bkc">
            @Html.Partial("Body/P_MainLayout_Footer")
        </footer>
        <!-- site__footer / end -->
    </div>
    <!-- site / end -->
    <!-- js -->
    @Html.Partial("Body/P_MainLayout_Script")

</body>
</html>
