
@{
    ViewBag.Title = "SelectedOrder";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    @{
                        if (Model != null)
                        {
                                        <h3 class="box-title">سفارش با کد رهگیری @Model.Code/  @Model.Name @Model.Family</h3>
                        }
                    }

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <br />

                  
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="ckbox" type="checkbox" value="">
                                    </th>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        نام و نام خانوادگی
                                    </th>
                                    <th>
                                        کد رهگیری
                                    </th>
                                    <th>
                                        شماره تماس
                                    </th>
                                    <th>
                                        استان
                                    </th>
                                    <th>
                                        آدرس
                                    </th>
                                    <th>
                                        کدپستی
                                    </th>
                                    <th>
                                        متن
                                    </th>
                                    <th>تاریخ</th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>
                                        پرداختی
                                    </th>
                                    <th>
                                        ارسال پیامک پستی
                                    </th>
                                    <th>
                                        تخفیف
                                    </th>
                                    <th>
                                        جمع سفارش
                                    </th>
                                    <th>
                                        فاکتور
                                    </th>


                            </thead>
                            <tbody>
                                @{
                                    var id = User.Identity.Name;

                                    if (Model != null)
                                    {

                                        var row = 1;
                                        //foreach (var mangment in Model)
                                        //{
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="">
                                                </td>
                                                <td class="col-md-1">
                                                    @row
                                                </td>
                                                <td class="col-md-1">
                                                    @Model.Name @Model.Family
                                                </td>
                                                <td class="col-md-3" style="font-size: 12px;">
                                                    @Model.Code
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="tel:@Model.Phone"> @Model.Phone</a>
                                                </td>
                                                <td class="col-md-4">
                                                    @Model.CityTitle
                                                </td>
                                                <td class="col-md-4">
                                                    @Model.Address
                                                </td>
                                                <td class="col-md-4">
                                                    @Model.PostalCode
                                                </td>
                                                <td class="col-md-1">
                                                    @Model.Note
                                                </td>
                                                <td class="col-md-1">
                                                    @string.Format("{0:dddd dd MMMM yyyy - hh:mm:ss}", Model.CreatorDateTime, "Date")
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="/OrdersMangement/ChangeStatusSelectedOrder/@Model.Id">
                                                        <span class="btn btn-success">@Model.Status</span>
                                                    </a>
                                                </td>
                                                <td class="col-md-1">
                                                    <a href="/OrdersMangement/ChangeStatusIsPaySelectedOrder/@Model.Id">
                                                        <span class="@Model.IsPayClass">@Model.IsPayTitle</span>
                                                    </a>

                                                </td>
                                                <td class="col-md-1">
                                                    <a data-toggle="modal" data-target="#exampleModal">
                                                        <span class="btn btn-warning">ارسال پیامک پستی</span>
                                                    </a>


                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">پیامک مرسوله پستی</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                @using (Html.BeginForm("SendSmsPostalCode", "OrdersMangement", FormMethod.Post))
                                                                {
                                                                    <input type="hidden" name="mobile" id="mobile" value="@Model.Phone" />
                                                                    <div class="modal-body">
                                                                        <input class="form-control" type="text" placeholder="لطفا شماره مرسوله پستی را وارد کنید" id="postalcode" name="postalcode" />
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                                                        <button type="submit" class="btn btn-primary">ارسال</button>
                                                                    </div>

                                                                }

                                                            </div>
                                                        </div>
                                                    </div>




                                                </td>
                                                <td class="col-md-1">
                                                    @{
                                                        if (Model.Discount > 0)
                                                        {
                                                            <span>@string.Format("{0:##,###}", Model.Discount, "Fee") <small> تومان </small></span>
                                                        }
                                                        else
                                                        {
                                                            <span>0<small> تومان </small></span>
                                                        }
                                                    }


                                                </td>
                                                <td class="col-md-1">
                                                    <span>@string.Format("{0:##,###}", Model.Price, "Fee") <small> تومان </small></span>

                                                </td>
                                                <td class="col-md-1">
                                                    <a href="/OrdersMangement/Invoice/@Model.Id">
                                                        <span class="btn btn-success">نمایش فاکتور</span>
                                                    </a>
                                                </td>

                                            </tr>
                                                        row++;

                                                        //}
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{

    <script>
        var color = document.querySelectorAll('.copy') //DOM selector

        //Loop through all elements and attaching event listener
        color.forEach(el => {
            el.addEventListener('click', copyText);
        });

        // function for selecting the text of an element based on the event.target (supporting IE)
        function selectText() {
            var element = event.target
            var range;
            if (document.selection) {
                // IE
                range = document.body.createTextRange();
                range.moveToElementText(element);
                range.select();
            } else if (window.getSelection) {
                range = document.createRange();
                range.selectNode(element);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
            }
        }

        // function for copying selected text in clipboard
        function copyText() {
            selectText();
            alert('متن مورد نظر کپی شد');
            document.execCommand("copy");
        }
    </script>
    <script>
        function SendSMS(phone, status) {
            Swal.fire({
                title: 'ارسال پیامک',
                text: "آیا می خواهد به شماره " + phone + "پیامک ارسال کنید؟ ",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'خیر',
                cancelButtonText: 'بله ارسال کن!'
            }).then((result) => {
                if (result.isConfirmed) {

                } else {
                    $.ajax({
                        url: "/OrdersMangement/SendSms",
                        type: "Post",
                        data: { phone: phone, status: status }
                    });

                }

            });
        }

    </script>
}

