
@using OrdersInventory.Repository.Inventory
@model OrdersInventory.ViewModels.Inventory.VMProduct.ViewModelProductSize


@{
    ViewBag.Title = "ویرایش سایز|SizeEditing";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">
                    @{
                        if (Model != null)
                        {
                                using (Html.BeginForm("EditRowSize", "MoreProductPropertyManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="box-header">
                                        <i class="fa fa-plus"></i>
                                        <h3 class="box-title">ویرایش سایز</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Code">کد</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" disabled="disabled" id="Code" name="Code" placeholder="کد" type="text" value="@Model.Code" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="PrimaryTitle">عنوان اول</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اول" type="text" value="@Model.PrimaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <label class="control-label col-md-2" for="SecondaryTitle">عنوان دوم</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="عنوان دوم" type="text" value="@Model.SecondaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="SizeTitle">سایز </label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="SizeTitle" name="SizeTitle" placeholder="سایز" type="text" value="@Model.SizeTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>


                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Sort">شماره مرتب سازی </label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="number" value="@Model.Sort" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            <a href="/MoreProductPropertyManagement/IndexSize"  class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    


                </div>


            </div>
        </div>
    </div>
</section>






