@using OrdersInventory.Repository.Inventory

<section class="product-carousel">
    <div class="section-title">
        <i class="fad fa-retweet"></i>
        پیشنهادهای مشابه
    </div>
    <div class="swiper-container slider-lg">
        <div class="swiper-wrapper">
            @{
                var repp = new RepProducts();
                var query = repp.RepositoryMainProducts();
                if (query.Count > 0)
                {
                    foreach (var product in query)
                    {
                        <div class="swiper-slide">
                            <div class="product-card">
                                <div class="product-card-top">
                                    <a href="@Url.RouteUrl("Product", new {id = product.Id.ToString()})" class="product-image">
                                        <img src="@product.FileName" alt="@product.PrimaryTitle">
                                    </a>
                                </div>
                                <div class="product-card-middle">
                                    <h6 class="product-name">
                                        <a href="@Url.RouteUrl("Product", new {id = product.Id.ToString()})">
                                            @product.PrimaryTitle
                                        </a>
                                    </h6>
                                    <h6 class="product-name">
                                        موجودی: <span class="@product.QuantityClass">@product.QuantityTitle</span>
                                    </h6>
                                </div>
                                @{
                                    var ProductFee = (product.Fee - ((product.Fee * product.Discount) / 100));
                                    if (product.Discount > 0)
                                    {
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <del>
                                                    @string.Format("{0:##,###}", product.Fee, "Fee") تومان
                                                </del>
                                                @string.Format("{0:##,###}", ProductFee, "Fee") تومان
                                            </div>
                                            <a href="@Url.RouteUrl("Product", new {id = product.Id.ToString()})" class="btn-add-to-cart">
                                                مشاهده کالا
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                @string.Format("{0:##,###}", product.Fee, "Fee") تومان
                                            </div>
                                            <a href="@Url.RouteUrl("Product", new {id = product.Id.ToString()})" class="btn-add-to-cart">
                                                مشاهده کالا
                                            </a>
                                        </div>
                                    }

                                }


                            </div>
                        </div>
                    }
                }
            }
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>