@using OrdersGeneral.Repository.General


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}


<section class="content-header">
    <h1>
        داشبورد
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box box-info">
                <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
                    <h3 class="box-title">مدیریت فهرست ها</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid">
                        <a href="/SlidersManagement/Add" class="btn btn-success btn-block"> افزودن &nbsp;<i class="fa fa-plus"></i></a>
                    </div>
                    <div class="table-responsive">



                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>

                                        <input class="ckbox" type="checkbox" value="">

                                    </th>
                                    <th>
                                        ردیف
                                    </th>
                                    <th>
                                        کد فهرست
                                    </th>
                                    <th>
                                        نام اسلایدر
                                    </th>
                                    <th>
                                        نام اسلایدر2
                                    </th>

                                    <th>
                                        شماره مرتب سازی
                                    </th>

                                    <th>تصاویر</th>
                                    <th>
                                        لینک
                                    </th>
                                    <th>تاریخ</th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var query = RepSliders.RepositoryMainSlidersManagemenet();
                                    if (query.Count > 0)
                                    {
                                        var row = 1;
                                        foreach (var management in query)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" value="">
                                                </td>
                                                <td class="col-md-1">
                                                    @row
                                                </td>
                                                <td class="col-md-2">
                                                    <a>@management.Code</a>
                                                </td>
                                                <td class="col-md-2">
                                                    <a>@management.PrimaryTitle </a>
                                                </td>
                                                <td class="col-md-1">
                                                    <a>@management.SecendaryTitle </a>
                                                </td>

                                                <td class="col-md-1">
                                                    <a>@management.Sort </a>
                                                </td>
                                                <td class="col-md-1">

                                                    <a href="/SlidersManagement/@management.FileNameDesktop" class="label label-primary">نمابش عکس</a>

                                                </td>

                                                <td class="col-md-1">
                                                    <a href="@management.Url" target="_blank"> @management.Url</a>
                                                </td>
                                                <td class="col-md-1">
                                                    @string.Format("{0:dddd dd MMMM yyyy - hh:mm:ss}", management.CreatorDateTime)
                                                </td>
                                                <td class="col-md-1">


                                                    <a href="/SlidersManagement/ChangeStatus/@management.Id" class="@management.IsOkClass">@management.IsOkTitle</a>


                                                </td>
                                                <th class="col-md-1">
                                                    <a class="btn btn-info btn-sm glyphicon glyphicon-edit" href="/SlidersManagement/Edit/@management.Id"></a>
                                                </th>
                                                <th class="col-md-1">
                                                    <a class="btn btn-danger btn-sm" href="/SlidersManagement/Delete/@management.Id">×</a>
                                                </th>

                                            </tr>
                                            row++;

                                        }
                                    }




                                }



                            </tbody>
                        </table>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
