
@using OrdersOrders.Repository.Orders
@{
    ViewBag.Title = "بروزرسانی آدرس|AddressUpdate";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}


<div class="row mb-5">
    <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
        <div class="sidebar-widget">
            @Html.Partial("Body/P_Panel_Right")
        </div>
    </div>
    @{
        if (Model != null)
        {
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="section-title mb-2">
                            ویرایش آدرس
                        </div>
                        <section class="shadow-around p-3">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {

                                    foreach (var item in Model)
                                    {
                                        using (Html.BeginForm("AddressUpdate", "Dashboard", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                            <div class="row">
                                <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">کدپستی :</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <input type="text" class="input-element" id="PostalCode" name="PostalCode"
                                                   value="@item.PostalCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">نوع آدرس:</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <select name="Type" id="Type" class="select2 select2-hidden-accessible" data-select2-id="select2-data-2-pary" tabindex="-1" aria-hidden="true">
                                                <option value="1">منزل</option>
                                                <option value="2">محل کار</option>
                                                <option value="3">شرکت</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">استان:</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <select name="ProvinceRef" id="ProvinceRef" class="select2 select2-hidden-accessible" data-select2-id="select2-data-6-pary" onchange="dropdowncites(this)" tabindex="-1" aria-hidden="true">
                                                <option>یک استان انتخاب کنید ...</option>
                                                @{
                                                    var city = RepAccountDashboard.SelectionCity();
                                                    if (city.Count > 0)
                                                    {
                                                        foreach (var cites in city)
                                                        {
                                                            if (cites.CityRef == item.CityRef)
                                                            {
                                                                <option value="@cites.CityRef" selected="selected">@cites.CityTitle</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@cites.CityRef">@cites.CityTitle</option>
                                                            }

                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">شهرستان:</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <select id="CityRef" name="CityRef" class="select2 select2-hidden-accessible CityRef" data-select2-id="select2-data-8-pary" tabindex="-1" aria-hidden="true" disabled="disabled"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-5">
                                    <div class="text-sm text-muted mb-3">اصلی؟:</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <select name="IsMain" id="IsMain" class="select2 select2-hidden-accessible" data-select2-id="select2-data-3-pary" tabindex="-1" aria-hidden="true">
                                                <option value="true">بله</option>
                                                <option value="false">خیر</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-5">
                                    <div class="text-sm text-muted mb-3">آدرس:</div>
                                    <div class="text-dark font-weight-bold">
                                        <div class="form-element-row mb-0">
                                            <textarea id="Address" name="Address" cols="30" rows="10" class="input-element">@item.Address</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-element-row text-left">
                                        <button class="btn-element btn-success-element" type="submit">
                                            <i class="fad fa-user-edit"></i>
                                            ذخیره تغییرات
                                        </button>
                                    </div>
                                </div>
                            </div>
                                        }
                                    }
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        }
    }


</div>

@Html.Partial("Body/P_Panel_Center")
