@using OrdersOrders.Repository.Orders


@{
    ViewBag.Title = "ویرایش پروفایل|EditProfile";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="row mb-5">
    <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
        <div class="sidebar-widget">
            @Html.Partial("Body/P_Panel_Right")
        </div>
    </div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="col-lg-9 col-md-8">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="section-title mb-2">
                            اطلاعات شخصی
                        </div>
                        <section class="shadow-around p-3">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    var id = Guid.Parse(User.Identity.Name);
                                    var result = RepAccountDashboard.RepAccountDashboardInformation(id);
                                    foreach (var mangment in result)
                                    {
                                        using (Html.BeginForm("EditProfile", "Dashboard", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="row">
                                                <input type="hidden" id="Id" name="Id" value="@mangment.Id" />
                                                <div class="col-lg-6 mb-5">
                                                    <div class="text-sm text-muted mb-3">نام :</div>
                                                    <div class="text-dark font-weight-bold">
                                                        <div class="form-element-row mb-0">
                                                            <input type="text" class="input-element" id="Name" name="Name"
                                                                   value="@mangment.Name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-5">
                                                    <div class="text-sm text-muted mb-3">نام خانوادگی:</div>
                                                    <div class="text-dark font-weight-bold">
                                                        <div class="form-element-row mb-0">
                                                            <input type="text" class="input-element" id="Family" name="Family"
                                                                   value="@mangment.Family">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-5">
                                                    <div class="text-sm text-muted mb-3">شماره تلفن همراه:</div>
                                                    <div class="text-dark font-weight-bold">
                                                        <div class="form-element-row mb-0">
                                                            <input type="text" class="input-element" id="Phone" name="Phone" value="@mangment.Phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-5">
                                                    <div class="text-sm text-muted mb-3">کد ملی:</div>
                                                    <div class="text-dark font-weight-bold">
                                                        <div class="form-element-row mb-0">
                                                            <input type="text" class="input-element" id="Identification" name="Identification" value="@mangment.Identification">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-element-row text-left">
                                                        <button class="btn-element btn-success-element" type="submit">
                                                            <i class="fad fa-user-edit"></i>
                                                            ذخیره تغییرات
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        }
    }


</div>

@Html.Partial("Body/P_Panel_Center")