@using OrdersOrders.Repository.Orders


@{
    ViewBag.Title = "فاکتور|Factor";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="row mb-5">
    <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
        <div class="sidebar-widget">
            @Html.Partial("Body/P_Panel_Right")
        </div>
        
    </div>
    <div class="col-lg-9 col-md-8">
        <div class="row mb-4">
            <div class="col-12">
                <div class="section-title mb-2">
                    تاریخچه سفارشات
                </div>
                <section class="shadow-around p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title mb-2">
                                آخرین سفارش‌ها
                            </div>
                            <section class="table--order shadow-around">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>کد</th>
                                                <th>تاریخ</th>
                                                <th>وضعیت</th>
                                                <th>پرداخت</th>
                                                <th>جمع کل</th>
                                                <th>فاکتور</th>
                                                <th>دانلود</th>
                                                @*<th>پرداخت فاکتور</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                var phone = "0";

                                                var id = User.Identity.Name;

                                                var result = RepAccountDashboard.RepAccountDashboardInformation(Guid.Parse(id));
                                                var query = RepOrders.RepositoryListOrders(result.FirstOrDefault().Phone);
                                                if (query.Count > 0)
                                                {
                                                    var row = 1;
                                                    foreach (var mangment in query)
                                                    {
                                                        <tr>

                                                            <td>@mangment.Code</td>
                                                            <td>@string.Format("{0:dddd dd MMMM yyyy}", mangment.CreatorDateTime, "date")</td>
                                                            <td>@mangment.Status</td>
                                                            <td class="@mangment.IsPayClass">@mangment.IsPayTitle</td>
                                                            <td>@string.Format("{0:##,###}", mangment.Price, "Price") <small> ریال </small></td>
                                                            <td> <a href="/Dashboard/Factors/@mangment.Id">ارسال رسید پرداخت</a></td>
                                                            <td> <a href="/Dashboard/PDF/@mangment.Id">دانلود فاکتور</a></td>
                                                            @*<td> <a href="/Dashboard/PDF/@mangment.Id">پرداخت</a></td>*@
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center py-3">
                                    <a href="#" class="d-flex align-items-center justify-content-center text-dark">
                                        مشاهده لیست سفارش ها
                                        <i class="fal fa-arrow-to-left mr-1"></i>
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



