@using OrdersGeneral.Repository.General
@using OrdersOrders.Repository.Orders
@{
    ViewBag.Title = "حساب کاربری|Account";
    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}
<script src="~/Helper/Layouts/assets/js/intro.min.js"></script>
<!-- site__body / end -->
<div class="row mb-5">
    <div class="col-lg-3 col-md-4 mb-md-0 mb-3 sticky-sidebar">
        <div class="sidebar-widget">
            @Html.Partial("Body/P_Panel_Right")
        </div>
    </div>
    <div class="col-lg-9 col-md-8">
        <div class="row mb-4">
            <div class="col-lg-12 mb-lg-0 mb-3">
                <div class="section-title mb-2">
                    اطلاعات شخصی
                    <button class="btn btn-warning" onclick="javascript:introJs().start();"> راهنما   </button>
                </div>
               
                <section class="shadow-around p-3">
                    <div class="row">
                        @{
                            var phonee = "0";
                            var idd = User.Identity.Name;
                            var results = RepAccountDashboard.RepAccountDashboardInformation(Guid.Parse(idd));
                            if (results.Count > 0)
                            {
                                foreach (var item in results)
                                {

                                    phonee = item.Phone;
                                    <div class="col-lg-4 mb-4">
                                        <div class="text-sm text-muted">نام و نام خانوادگی:</div>
                                        <div class="text-dark font-weight-bold">@item.Name @item.Family</div>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <div class="text-sm text-muted">شماره تلفن همراه:</div>
                                        <div class="text-dark font-weight-bold">@item.Phone</div>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <div class="text-sm text-muted">کد ملی:</div>
                                        <div class="text-dark font-weight-bold">@item.Identification</div>
                                    </div>
                                    <div class="col-12">

                                        <div class="text-center">
                                            <a href="/Dashboard/EditProfile" class="link--with-border-bottom"  data-step="1" data-intro="برای ویرایش اطلاعات شخصی خود بر روی این قسمت کلیلک کنید">
                                                <i class="far fa-edit"></i>
                                                ویرایش اطلاعات شخصی
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    </div>
                </section>
            </div>

        </div>

    </div>
</div>

@Html.Partial("Body/P_Panel_Center")

