@using OrdersOrders.Repository.Orders
@model OrdersOrders.ViewModels.Orders.VMOrders.VmOrderMangment
<link rel="stylesheet" href="/Helper/Layouts/assets/css/plugins/select2.min.css">
<link rel="stylesheet" href="/Helper/Layouts/assets/css/theme.css">
@{

    if (Model != null)
    {

        using (Html.BeginForm("AddressUpdateInOrder", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" id="IdAddress" value="@Model.Id" name="IdAddress" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <input type="hidden" id="Id" name="Id" class="input-element" value="@Model.Id">
                        <div class="text-sm text-muted mb-1">کد پستی:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <input type="text" id="PostalCode" name="PostalCode" class="input-element" value="@Model.PostalCode">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-sm text-muted mb-1">نوع آدرس:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <select name="Type" id="Type" class="select2 select2-hidden-accessible" data-select2-id="select2-data-2-22" tabindex="-1" aria-hidden="true">
                                    <option value="1">منزل</option>
                                    <option value="2">محل کار</option>
                                    <option value="3">شرکت</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-sm text-muted mb-1">استان:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <select name="ProvinceRef" id="ProvinceRef" class="select2 select2-hidden-accessible" data-select2-id="select2-data-6-33 " onchange="dropdowncites(this)" tabindex="-1" aria-hidden="true">
                                    <option>یک استان انتخاب کنید ...</option>
                                    @{
                                        var city = RepAccountDashboard.SelectionCity();
                                        if (city.Count > 0)
                                        {
                                            foreach (var cites in city)
                                            {
                                                if (cites.CityRef == Model.CityRef)
                                                {
                                                    <option value="@cites.CityRef" selected="selected">@cites.CityTitle</option>
                                                }
                                                else
                                                {
                                                    <option value="@cites.CityRef">@cites.CityTitle</option>
                                                }

                                            }
                                        }
                                    }
                                </select>


                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-sm text-muted mb-1">شهرستان:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <select id="CityRef" name="CityRef" class="select2 select2-hidden-accessible CityRef" data-select2-id="select2-data-8-44" tabindex="-1" aria-hidden="true" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-sm text-muted mb-1">اصلی؟:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <select name="IsMain" id="IsMain" class="select2 select2-hidden-accessible" data-select2-id="select2-data-4-55" tabindex="-1" aria-hidden="true">
                                    <option value="true">بله</option>
                                    <option value="false">خیر</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="text-sm text-muted mb-1">آدرس کامل:</div>
                        <div class="text-dark font-weight-bold">
                            <div class="form-element-row mb-0">
                                <textarea name="Address" id="Address" cols="30" rows="10"
                                          class="input-element">@Model.Address</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    ذخیره تغییرات <i class="fad fa-money-check-edit"></i>
                </button>
            </div>
        }
    }




}
<script src="/Helper/Layouts/assets/js/plugins/select2.full.min.js"></script>
<!-- JS Template -->
<script src="/Helper/Layouts/assets/js/theme.js"></script>
