@using OrdersInventory.Repository.Inventory



<div class="block block-products-carousel" data-layout="grid-6">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">محصولات مرتبط</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="/helper/Layouts/images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="/helper/Layouts/images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @{
                    var repp = new RepProducts();
                    var query = repp.RepositoryMainProducts();
                    if (query.Count > 0)
                    {
                        foreach (var product in query)
                        {
                            <div class="block-products-carousel__column">
                                <div class="block-products-carousel__cell">
                                    <div class="product-card">
                                        <button class="product-card__quickview" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="/Helper/Layouts/images/sprite.svg#quickview-16"></use>
                                                <svg width="16px" height="16px">
                                                    <use xlink:href="/Helper/Layouts/images/sprite.svg#quickview-16"></use>
                                                </svg>
                                            </svg>
                                            <span class="fake-svg-icon"></span>
                                        </button>
                                        <div class="product-card__badges-list">
                                            <div class="product-card__badge product-card__badge--new">@product.QuantityTitle</div>
                                        </div>
                                        <div class="product-card__image">
                                            <a href="@Url.RouteUrl("Product", new {id = product.Id.ToString()})"><img src="@product.FileName" alt="@product.PrimaryTitle"></a>
                                        </div>
                                        <div class="product-card__info">
                                            <div class="product-card__name"><small> نام کالا : </small><a href="../../Product/product.html">@product.PrimaryTitle</a></div>
                                            <div class="product-card__name"><small> کد کالا : </small><a href="../../Product/product.html">@product.Code</a></div>
                                        </div>
                                        <div class="product-card__actions">
                                            <div class="product-card__availability">موجودی: <span class="@product.QuantityClass">@product.QuantityTitle</span></div>
                                            <div class="product-card__prices text-danger">@product.Fee تومان</div>
                                            <div class="product-card__buttons">
                                                @*<button class="btn btn-primary product-card__addtocart" type="button" onclick="AddToCartWithSize('@product.Code', '@product.PrimaryTitle', '@product.Fee', @product);SuccessAdd('@product.PrimaryTitle')">افزودن به سبد</button>
                                                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button" onclick="AddToCart('@product.Code', '@product.PrimaryTitle', '@product.Fee');SuccessAdd('@product.PrimaryTitle')">افزودن به سبد</button>*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }



                }


            </div>
        </div>
    </div>
</div>
