@using OrdersGeneral.Repository.General
@using OrdersInventory.Repository.Inventory
@using OrdersOrders.Repository.Orders
@using OrdersSettings.Repository.Settings


<nav id="menu" class="hidden-lg hidden-md">
    <ul>
        <li>
            <span>دسته بندی کالاها</span>
            @{
                var rep = new RepProducts();
                var category = rep.RepositoryMainCategoreis();
                if (category.Count > 0)
                {
                        <ul>
                            @{
                                foreach (var item in category)
                                {

                                    if (item.ViewModelSubCategoreis != null)
                                    {
                                        <li>
                                            <a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})">@item.PrimaryTitle</a>
                                            @{

                                                if (item.ViewModelSubCategoreis != null)
                                                {
                                                    <ul>
                                                        @{

                                                            foreach (var subCategoreis in item.ViewModelSubCategoreis)
                                                            {
                                                                <li>
                                                                    <a href="@Url.RouteUrl("Categories", new {id = subCategoreis.Id.ToString()})">@subCategoreis.PrimaryTitle</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                }
                                            }

                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})">@item.PrimaryTitle </a>
                                        </li>
                                    }
                                }
                            }


                        </ul>
                }
            }


        </li>
        @{
            var menumobile = RepMenu.RepositoryMainMenu();
            if (menumobile.Count > 0)
            {
                foreach (var item in menumobile)
                {
                    <li>
                                <a href="@item.Url">
                                    @item.PrimaryTitle
                                    <img src="@item.IconMobile" width="20" height="20" class="icon-space" alt="@item.PrimaryTitle">
                                </a>
                    </li>
                }

                if (User.Identity.IsAuthenticated)
                {
                    var id = User.Identity.Name;
                    var name = RepAccountDashboard.IsAdmin(Guid.Parse(id));
                    var splitrole = name[0];
                    var splitname = name[1];
                    var url = "/Dashboard";

                    if (splitrole == "admin")
                    {
                        url = "/AdminDashboard";
                    }

                    <li>
                        <a href="@url">
                            پنل مدیریت @splitname
                            <img src="/Static/Content/Icons/account_100px.png" width="20" height="20" class="icon-space" alt="account">
                        </a>
                    </li>
                }
            }
        }
    </ul>
</nav>