@using OrdersGeneral.Repository.General
@using OrdersInventory.Repository.Inventory
@using OrdersSettings.Repository.Settings



<div class="row mb-3">
    <div class="col-md-4 col-sm-6">
        <div class="widget widget-links">
            <h2 class="widget-title">اطلاعات تماس</h2>
            @{
                var query = Repfooter.RepInformationFooter();
                if (query.Count > 0)
                {
                    <ul class="widget-list">

                        @{
                            foreach (var item in query)
                            {
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">@item.PrimaryTitle</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="#" class="widget-list-link">@item.Address</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="tel:@item.Phone" class="widget-list-link">@item.Phone</a>
                                </li>
                                <li class="widget-list-item">
                                    <a href="mailto: @item.Email" class="widget-list-link">@item.Email</a>
                                </li>
                            }
                        }

                    </ul>
                }
            }
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="widget widget-links">
            <h2 class="widget-title">لینک های پرکاربرد</h2>
            <ul class="widget-list">
                @{
                    var link = RepLinks.RepositoryLinks();
                    if (link.Count > 0)
                    {
                        foreach (var items in link)
                        {
                            <li class="widget-list-item">
                            <a href="@items.Url" class="widget-list-link">@items.PrimaryTitle</a>
                            </li>
                        }
                    }

                }


            </ul>
        </div>
        @* <div class="widget widget-links">
                <h2 class="widget-title">خدمات مشتریان</h2>
                <ul class="widget-list">
                    <li class="widget-list-item">
                        <a href="#" class="widget-list-link">پاسخ به پرسش‌های متداول</a>
                    </li>
                    <li class="widget-list-item">
                        <a href="#" class="widget-list-link">رویه‌های بازگرداندن کالا</a>
                    </li>
                    <li class="widget-list-item">
                        <a href="#" class="widget-list-link">شرایط استفاده</a>
                    </li>
                    <li class="widget-list-item">
                        <a href="#" class="widget-list-link">حریم خصوصی</a>
                    </li>
                    <li class="widget-list-item">
                        <a href="#" class="widget-list-link">گزارش باگ</a>
                    </li>
                </ul>
            </div>*@
    </div>
    <div class="col-md-4">
        <div class="widget widget-newsletter">
            <h2 class="widget-title">از آخرین تخفیف های ما مطلع شوید:</h2>
            <div class="newsletter">
                @{

                    using (Html.BeginForm("NewsLetter", "Default", FormMethod.Post, new { @class = "newsletterform" }))
                    {
                        <div class="form-group">
                            <input type="text" id="Phone" name="Phone" placeholder="شماره موبایل خود را وارد نمایید">
                            <button type="submit">ارسال</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="widget">
            <h2 class="widget-title">
                ما را در شبکه‌های اجتماعی دنبال کنید:
            </h2>
            <div class="social">
                <ul>
                    @{
                        var querySocialMedia = RepSocialMedia.RepositorySocialMedia();
                        if (querySocialMedia.Count > 0)
                        {
                            foreach (var management in querySocialMedia)
                            {
                                <li>
                                    @{
                                        switch (@management.Class)
                                        {
                                            case "Instagram":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/instagram.png" alt="Instagram" width="30px" />
                                                </a>
                                                break;
                                            case "Twitter":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/twitter.png" alt="Twitter" width="30px" />
                                                </a>
                                                break;
                                            case "Whatsapp":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/whatsapp.png" alt="Whatsapp" width="30px" />
                                                </a>
                                                break;
                                            case "Youtube":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/youtube.png" alt="Youtube" width="30px" />
                                                </a>
                                                break;
                                            case "Telegram":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/telegram.png" alt="Telegram" width="30px" />
                                                </a>
                                                break;
                                            case "Facebook":
                                                <a href="@management.Url" target="_blank">
                                                    <img src="~/Helper/Layouts/assets/images/SocialMedia/facebook.png" alt="Facebook" width="30px" />
                                                </a>
                                                break;
                                        }
                                    }
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="widget">
            <h2 class="widget-title">گواهینامه ها</h2>
            <div class="d-flex flex-wrap">
                <div class="ml-2 mb-2">
                    @{
                        var rep = new RepMetaConfiguration();
                        var result = RepMetaConfiguration.RepositoryMetaConfiguration();
                        if (result.Count > 0)
                        {
                            <ul>
                                @{
                                    foreach (var itemm in result)
                                    {
                                        <li>
                                            @Html.Raw(itemm.Note)
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                </div>
                <div class="ml-2 mb-2">

                    <img src="/Static/Content/Images/Behpardakht.png" />

                </div>
            </div>
        </div>
    </div>
</div>
