@using System.Configuration


<div class="row row-social">
    <div class="col-12">
        <div class="section-title mb-2 text-center">
            ما را در فضای مجازی دنبال کنید
        </div>
    </div>
    <div class="col-12">
        <div class="shadow-around p-3">
            <ul class="d-flex flex-wrap justify-content-center">
                @{
                    string instagram = ConfigurationManager.AppSettings["PageAdmin"];
                    string Company = ConfigurationManager.AppSettings["PhoneAdmin"];
                    var a = "https://wa.me/+98"+ Company+"?text=سلام_وقتتون_بخیر";
                }
                <li class="shadow-around text-center px-2 py-3 m-2 ">
                    <a href="@instagram">
                        <img src="~/Helper/Layouts/assets/img/instabanner.png" class="img-responsive" width="250"/>
                    </a>
                </li>

                <li class="shadow-around text-center px-2 py-3 m-2 ">
                    <a href="@a">
                        <img src="~/Helper/Layouts/assets/img/whats.png" class="img-responsive" width="250"/>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>



@*<div class="widget">
        <h2 class="widget-title">
            ما را در شبکه‌های اجتماعی دنبال کنید:
        </h2>
        <div class="social">
            <ul>
                @{ var querySocialMedia1 = RepSocialMedia.RepositorySocialMedia();
                    if (querySocialMedia1.Count > 0)
                    {
                        foreach (var management in querySocialMedia1)
                        {
                            <li>

                                @{
                                    switch (@management.Class)
                                   {
                                       case "Instagram":
                                           <a href="@management.Url" target="_blank">
                                               <img src="src=&quot;https://ishikoo.com/wp-content/uploads/2022/02/icons8-instagram.gif&quot;" alt="Instagram" width="30px"/>
                                           </a>
                                           break;
                                       case "Twitter":
                                           <a href="@management.Url" target="_blank">
                                               <img src="~/Helper/Layouts/assets/images/SocialMedia/twitter.png" alt="Twitter" width="30px"/>
                                           </a>
                                           break;
                                       case "Whatsapp":
                                           <a href="@management.Url" target="_blank">
                                               <img src="~/Helper/Layouts/assets/images/SocialMedia/whatsapp.png" alt="Whatsapp" width="30px"/>
                                           </a>
                                           break;
                                       case "Youtube":
                                           <a href="@management.Url" target="_blank">
                                               <img src="~/Helper/Layouts/assets/images/SocialMedia/youtube.png" alt="Youtube" width="30px"/>
                                           </a>
                                           break;
                                       case "Telegram":
                                           <a href="@management.Url" target="_blank">
                                               <img src="~/Helper/Layouts/assets/images/SocialMedia/telegram.png" alt="Telegram" width="30px"/>
                                           </a>
                                           break;
                                       case "Facebook":
                                           <a href="@management.Url" target="_blank">
                                               <img src="~/Helper/Layouts/assets/images/SocialMedia/facebook.png" alt="Facebook" width="30px"/>
                                           </a>
                                           break;

                                   }

                                }
                            </li>
                        }

                    }

                }
            </ul>
        </div>
    </div>*@
