@using OrdersInventory.Repository.Inventory
@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.ViewModelCategoreis>
@{
    ViewBag.Title = "ویرایش دسته بندی|EditCategory";
    Layout = "~/Views/Layouts/_AdminLayouts.cshtml";
}

<section class="content-header">
    <h2>داشبورد</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-lg-12 connectedSortable">
                <div class="box box-info">

                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                using (Html.BeginForm("EditRow", "CategoriesManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="box-header">
                                        <i class="fa fa-pencil"></i>
                                        <h3 class="box-title">ویرایش دسته بندی</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-horizontal">
                                            <input type="hidden" id="Id" name="Id" value="@item.Id" />
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="">کد</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" disabled="disabled" id="Code" name="Code" placeholder="کد" type="text" value="@item.Code" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="PrimaryTitle">عنوان اول</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="PrimaryTitle" name="PrimaryTitle" placeholder="عنوان اول" type="text" value="@item.PrimaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <label class="control-label col-md-2" for="SecondaryTitle">عنوان دوم</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="SecondaryTitle" name="SecondaryTitle" placeholder="عنوان دوم" type="text" value="@item.SecondaryTitle" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>

                                                <label class="control-label col-md-2" for="Sort">شماره مرتب سازی </label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Sort" name="Sort" placeholder="شماره مرتب سازی" type="text" value="@item.Sort" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <hr />


                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <label class="control-label col-md-2" for="IsMain">گروه اصلی؟ </label>
                                                    <div class="  col-md-4">
                                                        <select class="form-control " id="IsMain" name="IsMain">
                                                            <option @((item.IsMain == true) ? "selected" : "") value="true">بله</option>
                                                            <option @((item.IsMain == false) ? "selected" : "") value="false">خیر</option>
                                                        </select>
                                                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                                                    </div>
                                                </div>

                                                <label class="control-label col-md-2">دسته بندی</label>
                                                <div class="col-md-4">
                                                    <select class="form-control " id="ParentRef" name="ParentRef">
                                                        @{
                                                            var rep = new RepProducts();
                                                            var category = rep.RepositoryCategoryManagmentDropDown();
                                                            if (category.Count > 0)
                                                            {
                                                                foreach (var itemm in category)
                                                                {

                                                                    if (itemm.Id == item.ParentRef)
                                                                    {
                                                                        <option value="@itemm.Id" selected="selected">@itemm.PrimaryTitle</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@itemm.Id">@itemm.PrimaryTitle</option>
                                                                    }
                                                                }
                                                            }





                                                        }

                                                    </select>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="Title">عکس</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="FileNameDesktop" name="FileNameDesktop" placeholder="" type="file" value="@item.FileName" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                                <label class="control-label col-md-2" for="PrimaryTitle">لینک</label>
                                                <div class="col-md-4">
                                                    <input class="form-control text-box single-line" id="Url" name="Url" placeholder="لینک" type="text" value="@item.Url" />
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            

                                        </div>


                                    </div>
                                    <div class="box-footer clearfix">
                                        <div class="col-md-12 col-md-offset-9">
                                            <button type="submit" class="btn btn-labeled bg-green-active"> <i class="fa fa-check-square"></i> ذخیره</button>
                                            <a href="/CategoriesManagement/Index" class="btn btn-labeled bg-red-active"> <i class="fa fa-close"></i> بازگشت</a>
                                        </div>
                                    </div>
                                }
                            }

                        }




                    }



                </div>
            </div>


        </div>
    </div>
</section>



