@model IEnumerable<OrdersInventory.ViewModels.Inventory.VMProduct.VmMainProduct>

@{
    if (Model != null)
    {
        ViewBag.Title = Model.First().CategoreisTitle;
    }

    Layout = "~/Views/Layouts/_MainLayouts.cshtml";
}

<div class="row mb-5">
    <div class="col-lg-12 col-md-11">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb -->
                <div class="breadcrumb mb-2 pt-2">
                    <nav>
                        <a href="/Default">خانه</a>
                        <a>@ViewBag.Title</a>
                        @{

                            if (Model != null)
                            {
                                <a>@Model.First().CategoreisTitle</a>
                            }
                            else
                            {
                                
                            }
                        }
                        <a>در حال نمایش  @Model.Count() محصول</a>
                    </nav>
                   
                </div>
                <div class="col-md-2">
                    <div class="form-element-row" data-select2-id="select2-data-5-qgui">
                        <label class="label-element" style="display: inline !important">مرتب‌سازی بر اساس</label>
                        <select class="form-control form-control-sm" name="status" id="status" onchange="insertParam('price', this);">
                            @{
                                if (Session["CustomCategoriesMaxResearchFiltering"] != null)
                                {
                                    switch (Session["CustomCategoriesMaxResearchFiltering"].ToString())
                                    {
                                        case "Max":
                                            {
                                                <option value="Default">پیش فرض</option>
                                                <option value="Max" selected="selected">گران ترین</option>
                                                <option value="Min">ارزان ترین</option>
                                                break;
                                            }
                                        case "Min":
                                            {
                                                <option value="Default">پیش فرض</option>
                                                <option value="Max">گران ترین</option>
                                                <option value="Min" selected="selected">ارزان ترین</option>
                                                break;
                                            }
                                        case "Default":
                                            {
                                                <option value="Default" selected="selected">پیش فرض</option>
                                                <option value="Max">گران ترین</option>
                                                <option value="Min">ارزان ترین</option>
                                                break;
                                            }
                                    }
                                }
                                else
                                {
                                    <option value="Default" selected="selected">پیش فرض</option>
                                    <option value="Max">گران ترین</option>
                                    <option value="Min">ارزان ترین</option>
                                }
                            }

                        </select>
                    </div>
                </div>
                <!-- end breadcrumb -->
            </div>
        </div>
        <div class="listing-items row">

            @{
                if (Model != null)
                {
                    foreach (var productitem in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 px-0">
                            <div class="product-card">
                                <div class="product-card-top">
                                    <a href="@Url.RouteUrl("Product", new {id = productitem.Id.ToString()})" class="product-image">
                                        <img src="@productitem.FileName" alt="@productitem.PrimaryTitle">
                                    </a>
                                </div>
                                <div class="product-card-middle">

                                    <h6 class="product-name">
                                        <a href="@Url.RouteUrl("Product", new {id = productitem.Id.ToString()})">
                                            @productitem.PrimaryTitle
                                        </a>
                                    </h6>
                                    <h6 class="product-name">
                                        موجودی: <span class="@productitem.QuantityClass">@productitem.QuantityTitle</span>
                                    </h6>
                                    @{
                                        var ProductFee1 = (productitem.Fee - ((productitem.Fee * productitem.Discount) / 100));
                                        if (productitem.Discount > 0)
                                        {
                                            <div class="product-price product-price-clone">
                                                <del>@string.Format("{0:##,###}", ProductFee1, "Fee") تومان</del>
                                                <span>@string.Format("{0:##,###}", productitem.Fee, "Fee") تومان</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-price product-price-clone">
                                                @string.Format("{0:##,###}", productitem.Fee, "Fee") تومان
                                            </div>
                                        }
                                    }


                                </div>
                                @{
                                    var ProductFee = (productitem.Fee - ((productitem.Fee * productitem.Discount) / 100));
                                    if (productitem.Discount > 0)
                                    {
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <del>@string.Format("{0:##,###}", productitem.Fee, "Fee") تومان</del>
                                                <span> @string.Format("{0:##,###}", ProductFee, "Fee") تومان</span>
                                            </div>
                                            <a href="@Url.RouteUrl("Product", new {id = productitem.Id.ToString()})" class="btn-add-to-cart">
                                                مشاهده کالا
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                @string.Format("{0:##,###}", productitem.Fee, "Fee") تومان
                                            </div>
                                            <a href="@Url.RouteUrl("Product", new {id = productitem.Id.ToString()})" class="btn-add-to-cart">
                                                مشاهده کالا
                                            </a>
                                        </div>
                                    }

                                }

                            </div>
                        </div>
                    }
                }
            }





            <div class="col-12 px-0">
                <div class="pagination">
                    @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
                    {
                        <li class="page-item @(((int)ViewBag.PageId == i) ? "active" : "")"><a class="page-link" href="/Categories/MainCategory/@ViewBag.Id?pageid=@i">@i <span class="sr-only">(کنونی)</span></a></li>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function insertParam(key, value) {
        key = encodeURIComponent(key);
        value = encodeURIComponent(value.value || value.options[value.selectedIndex].value);
        // kvp looks like ['key1=value1', 'key2=value2', ...]
        var kvp = document.location.search.substr(1).split('&');
        let i = 0;

        for (; i < kvp.length; i++) {
            if (kvp[i].startsWith(key + '=')) {
                let pair = kvp[i].split('=');
                pair[1] = value;
                kvp[i] = pair.join('=');
                break;
            }
        }

        if (i >= kvp.length) {
            kvp[kvp.length] = [key, value].join('=');
        }

        // can return this or...
        let params = kvp.join('&');

        // reload page with new params
        document.location.search = params;
    }
    function pricefiltering(a) {
        var x = (a.value || a.options[a.selectedIndex].value);
        alert(x);
        var url = window.location.href;
        alert(url);
        url.searchParams.append('x', 42);

        //var myArray = url.split("/");
        //alert(myArray[5]);
        //var word = myArray[5];
        //$.ajax({
        //    url: "/SepidarProduct/CustomCategories",
        //    type: "Post",
        //    data: { id: word, price: x }
        //}).done(function () {
        //    setTimeout(function () {
        //        $("#overlay").fadeOut(300);
        //    }, 500);
        //    location.reload(true);
        //}).fail(function () {
        //    setTimeout(function () {
        //        $("#overlay").fadeOut(300);
        //    }, 500);
        //});
    }
</script>