@using OrdersInventory.Repository.Inventory

<!-- .block-categories -->
@*<div class="block block--highlighted block-categories block-categories--layout--compact">
    <div class="container pd-20">
        <div class="block-header">
            <h3 class="block-header__title">دسته های محبوب</h3>
            <div class="block-header__divider"></div>
        </div>
        @{
            var rep = new RepProducts();
            var category = rep.RepositoryMainCategoreis();
            if (category.Count > 0)
            {
                <div class="block-categories__list">
                    @{
                        foreach (var item in category)
                        {

                            if (item.ViewModelSubCategoreis != null)
                            {
                                <div class="block-categories__item category-card category-card--layout--compact">
                                    <div class="category-card__body">
                                        <div class="category-card__image">
                                            <a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})"><img src="@item.FileName" alt="@item.PrimaryTitle"></a>
                                        </div>
                                        <div class="category-card__content">
                                            <div class="category-card__name"><a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})">@item.PrimaryTitle</a></div>
                                            @{

                                                if (item.ViewModelSubCategoreis != null)
                                                {
                                                    <ul class="category-card__links">

                                                        @{

                                                            foreach (var subCategoreis in item.ViewModelSubCategoreis)
                                                            {
                                                                <li><a href="@Url.RouteUrl("Categories", new {id = subCategoreis.Id.ToString()})">@subCategoreis.PrimaryTitle</a></li>
                                                            }
                                                        }

                                                    </ul>
                                                }
                                            }

                                            <div class="category-card__all"><a href="">نمایش همه</a></div>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="block-categories__item category-card category-card--layout--compact">
                                    <div class="category-card__body">
                                        <div class="category-card__image">
                                            <a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})"><img src="@item.FileName" alt="@item.PrimaryTitle"></a>
                                        </div>
                                        <div class="category-card__content">
                                            <div class="category-card__name"><a href="@Url.RouteUrl("MainCategories", new {id = item.Id.ToString()})">@item.PrimaryTitle</a></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }


                </div>
            }
        }

    </div>
</div>*@
<!-- .block-categories / end -->



<!--pachin - minta-->

<div class="block block-products-carousel" data-layout="grid-3">
        <div class="container pd-20">

            <div class="block-products-carousel__slider">

                <div class="owl-carousel">


                    @{
                        var repp = new RepProducts();

                        var result = repp.RepositoryMainCategoreisDefault();
                        if (result.Count > 0)
                        {
                            foreach (var catecoreis in result)
                            {
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <div class="product-card">

                                            <a href="@catecoreis.Url">
                                                <img src="@catecoreis.FileName" alt="@catecoreis.PrimaryTitle">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    }

                </div>
            </div>

        </div>
    </div>


