@using OrdersInventory.Repository.Inventory

<!-- .block-products-carousel -->

@{
    var rep = new RepProducts();
    var config = rep.RepositoryMainConfigurationForShow();
    if (config.Count > 0)
    {
        foreach (var head in config)
        {
            <div class="block block-products-carousel" data-layout="grid-5">
                <div class="container">
                    <div class="block-header mg-20">
                        <h3 class="block-header__title"> @head.PrimaryTitle </h3>
                        <div class="block-header__divider"></div>
                        <ul class="block-header__groups-list">
                            @{

                                if (head.Url != null)
                                {
                                    <li>
                                        <a href="@head.Url" class="btn btn-sm btn-default btn-show">نمایش همه</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("ProductSelection", new {id = head.Id.ToString()})" class="btn btn-sm btn-default btn-show">نمایش همه</a>
                                    </li>
                                }
                            }

                        </ul>
                        <div class="block-header__arrows-list">
                            <button class="block-header__arrow block-header__arrow--left" type="button">
                                <svg width="7px" height="11px">
                                    <use xlink:href="/helper/Layouts/images/sprite.svg#arrow-rounded-left-7x11"></use>
                                </svg>
                            </button>
                            <button class="block-header__arrow block-header__arrow--right" type="button">
                                <svg width="7px" height="11px">
                                    <use xlink:href="/helper/Layouts/images/sprite.svg#arrow-rounded-right-7x11"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="block-products-carousel__slider mg-20">
                        <div class="block-products-carousel__preloader"></div>
                        <div class="owl-carousel">

                            @{

                                if (head.CategoriesRef != null)
                                {
                                    var resultCategoreis = rep.RepositoryMainSelectionCategoreisProducts(head.CategoriesRef);

                                    if (resultCategoreis.Count > 0)
                                    {
                                        foreach (var item in resultCategoreis)
                                        {
                                            <div class="block-products-carousel__column">
                                                <div class="block-products-carousel__cell">
                                                    <div class="product-card">
                                                        <div class="product-card__badges-list">
                                                            <div class="product-card__badge @item.QuantityClass">@item.QuantityTitle</div>
                                                        </div>
                                                        <div class="product-card__image">
                                                            <a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})"><img src="@item.FileName" alt="@item.PrimaryTitle"></a>
                                                        </div>
                                                        <div class="product-card__info">
                                                            <div class="product-card__name"><small> نام کالا : </small><a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})">@item.PrimaryTitle</a></div>
                                                            <div class="product-card__name"><small> کد کالا : </small><a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})">@item.Code</a></div>

                                                        </div>
                                                        <div class="product-card__actions">
                                                            <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>

                                                            @{

                                                                var ProductFee = (item.Fee - ((item.Fee * item.Discount) / 100));
                                                                if (item.Discount > 0)
                                                                {

                                                                    <div class="widget-products__prices">
                                                                        <span class="widget-products__new-price text-danger">@string.Format("{0:##,###}", ProductFee, "") تومان</span>
                                                                        <br />
                                                                        <span class="widget-products__old-price text-danger">@string.Format("{0:##,###}", item.Fee, "") تومان</span>
                                                                    </div>
                                                                }
                                                                @*else if (item.ProductDiscount > 0)
                                                                {
                                                                    <div class="widget-products__prices ">
                                                                        <span class="widget-products__new-price text-danger">@string.Format("{0:##,###}", CatFee, "") تومان</span>
                                                                        <br />
                                                                        <span class="widget-products__old-price text-danger">@string.Format("{0:##,###}", item.Fee, "") تومان</span>
                                                                    </div>
                                                                }*@
                                                                else
                                                                {
                                                                    <div class="product-card__prices text-danger">@string.Format("{0:##,###}", item.Fee, "") تومان</div>
                                                                }
                                                            }


                                                            @*<div class="product-card__buttons">
                                                                    <button class="btn btn-primary product-card__addtocart btn-block" onclick="SuccessAdd('@item.PrimaryTitle'); AddToCart('@item.Code', '@item.PrimaryTitle', '@item.Fee', '@item.Id');">افزودن به سبد</button>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                }
                                else
                                {
                                    var resultSelection = rep.RepositorySelectionProduct(head.Id);
                                    if (resultSelection.Count > 0)
                                    {
                                        foreach (var item in resultSelection)
                                        {
                                            <div class="block-products-carousel__column">
                                                <div class="block-products-carousel__cell">
                                                    <div class="product-card">
                                                        <div class="product-card__badges-list">
                                                            <div class="product-card__badge @item.QuantityClass">@item.QuantityTitle</div>
                                                        </div>
                                                        <div class="product-card__image">
                                                            <a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})"><img src="@item.FileName" alt="@item.PrimaryTitle"></a>
                                                        </div>
                                                        <div class="product-card__info">
                                                            <div class="product-card__name"><small> نام کالا : </small><a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})">@item.PrimaryTitle</a></div>
                                                            <div class="product-card__name"><small> کد کالا : </small><a href="@Url.RouteUrl("Product", new {id = item.Id.ToString()})">@item.Code</a></div>

                                                        </div>
                                                        <div class="product-card__actions">
                                                            <div class="product-card__availability">موجودی: <span class="text-success">موجود در انبار</span></div>

                                                            @{

                                                                var ProductFee = (item.Fee - ((item.Fee * item.Discount) / 100));

                                                                if (item.Discount > 0)
                                                                {

                                                                    <div class="widget-products__prices ">
                                                                        <del class="product-card__prices">@string.Format("{0:##,###}", item.Fee, "Fee") تومان</del>
                                                                        <br />
                                                                        <span class="product-card__prices" style="color:red;">@string.Format("{0:##,###}", ProductFee, "Fee") تومان</span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="product-card__prices text-danger">@string.Format("{0:##,###}", item.Fee, "") تومان</div>
                                                                }
                                                            }


                                                            @*<div class="product-card__buttons">
                                                                    <button class="btn btn-primary product-card__addtocart btn-block" onclick="SuccessAdd('@item.PrimaryTitle'); AddToCart('@item.Code', '@item.PrimaryTitle', '@item.Fee', '@item.Id');">افزودن به سبد</button>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }


                            }

                        </div>
                    </div>

                </div>
            </div>

        }
    }
}
<!-- .block-products-carousel / end -->
